section {
    position: relative;
    color: #333;
}

.flex {
    display: flex;
}

.btn {
    color: crimson;
    border-bottom: 1px solid crimson;
    display: inline-block;
    line-height: 1.6;
    padding: 0 10px;
    font-family: 'Hind Siliguri', sans-serif;
}

p {
    font-family: 'Hind Siliguri', sans-serif;
}

.header {
    width: 100%;
    margin-top: 1px;
    position: relative;
    height: 88.5vh;
    overflow: hidden;
    .item-1 {
        position: relative;
        width: 35%;
        background: url(../../../assets/images/20190903/watercolor-brush.jpg) 50% 20% no-repeat;
        background-size: 100%;
        opacity: .8;
        transform: rotate(-10deg);
        overflow: hidden;
    }
    .item-2 {
        width: 65%;
        background: url(../../../assets/images/20190903/tala-bg-1.jpg) 40% 50% no-repeat;
        background-size: cover;
        z-index: 3;
    }
    .caption {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        h3 {
            font-size: 5vh;
            font-family: "Libre Baskerville", serif;
            margin-bottom: 7vh;
        }
        .btn {
            margin-top: 4vh;
            padding-right: 30px;
            padding-left: 5px;
        }
        p {
            line-height: 1.5;
            padding-left: 5px;
        }
    }
}

.collection {
    max-width: 1600px;
    margin: 10vh auto 0;
    padding: 0 3rem;
    position: relative;
    h4 {
        font-size: 3vh;
        font-family: "Libre Baskerville", serif;
        margin-bottom: 10px;
        line-height: 1.2;
    }
    .item {
        img {
            width: 100%;
        }
    }
    .item-3 {
        width: 55%;
        background: url(../../../assets/images/20190903/tala-1.jpg) 50% 94% no-repeat;
        background-size: cover;
    }
    .item-4 {
        width: 35%;
        padding-bottom: 5vh;
        margin-left: 10%;
        div {
            padding: 8vh;
            margin: 7vh 0 4vh;
            background: url(../../../assets/images/20190903/nude.jpg) 50% 94% no-repeat;
            background-size: cover;
        }
    }
    .caption {
        position: absolute;
        right: 40%;
        top: 7vh;
        p {
            margin-bottom: 5vh;
            text-transform: uppercase;
            font-size: 0.9em;
            font-weight: 600;
        }
    }
    .info {
        max-width: 600px;
        margin: 1rem auto;
        line-height: 1.2;
    }
    .half {
        width: 50%;
        img {
            width: 100%;
        }
    }
    .left {
        padding: 5vh 0;
        background: url(../../../assets/images/20190903/bg-1.jpg) 50% 94% no-repeat;
        background-size: cover;
        position: relative;
        div {
            padding: 7vh 3vh;
            background: #fff;
            width: 70%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .bag {
        width: 25%;
        img {
            width: 100%;
        }
        p {
            margin-bottom: .5rem;
            text-transform: uppercase;
        }
        &:nth-child(1) {
            img {
                width: 70%;
                margin-bottom: 5%;
                margin-top: 25%;
            }
        }
        &:nth-child(2) {
            img {
                width: 70%;
                margin-bottom: 3%;
                margin-top: 27%;
            }
        }
        &:nth-child(3) {
            img {
                width: 75%;
                margin-top: 25%;
            }
        }
        &:nth-child(4) {
            img {
                width: 58%;
                margin-top: 40%;
                margin-bottom: 2%;
            }
        }
    }
}

.collection-box {
    margin: 0 auto 10vh;
}

.last {
    margin-top: 1vh;
    .bag {
        &:nth-child(2) {
            img {
                width: 75%;
                margin-bottom: 3%;
                margin-top: 22%;
            }
        }
        &:nth-child(4) {
            img {
                width: 60%;
                margin-top: 35%;
                margin-bottom: 5%;
            }
        }
    }
}

.collection-ej-2 {
    background: url(../../../assets/images/20190903/monogram.gif) 50% 94% no-repeat;
    background-size: cover;
    text-align: center;
    padding: 5vh 0;
    width: 60%;
}

.collection-caption {
    background: #fff;
    max-width: 500px;
    margin: 7vh auto;
    img {
        width: 70%;
        max-width: 180px;
        margin-bottom: 2rem;
    }
    h3 {
        font-size: 5vh;
        font-family: "Libre Baskerville", serif;
    }
    p {
        margin-top: 3vh;
        line-height: 1.5;
        margin-bottom: 1rem;
    }
}