<section>
    <div class="header">
        <div>
            <h2>SS19, New Arrivals</h2>
            <br>
            <a class="typeBtn" [routerLink]="[ '../products/new/all']">
                <span>Shop Now</span>
            </a>
        </div>
    </div>
    <div class="new-area">
        <div class="flex">
            <div class="flex-3">
                <img src="assets/images/cradle.jpg" alt="" class="img-responsive">
            </div>
            <div class="flex-4">
            </div>
            <div class="flex-3 text-right">
                <img src="assets/images/cradle.jpg" alt="" class="img-responsive">
            </div>
        </div>
        <div class="flex">
            <div class="flex-3">
            </div>
            <div class="flex-4 ">
                <img src="assets/images/new-2.jpg" alt="">
            </div>
            <div class="flex-3 text-right">
            </div>
        </div>
    </div>
    <div class="ej-area">
        <div class="flex">
            <div class="flex-6">
                <img src="assets/images/cradle-1.jpg" alt="">
            </div>
            <div class="flex-4 text-right">
                <img src="assets/images/harper.jpg" alt="" class="img-responsive">
            </div>
        </div>
    </div>
    <div class="zhu-area">
        <div class="flex">
            <div class="flex-4">
                <img src="assets/images/zhu.jpg" alt="">
            </div>
            <div class="flex-6">
                <img src="assets/images/zhu-2.jpg" alt="" class="img-80">
            </div>
        </div>
        <div class="flex">
            <div class="flex-4">
                <img src="assets/images/tote.jpg" alt="" class="img-responsive">
            </div>
        </div>
    </div>
    <div class="men-area">
        <div class="flex">
            <div class="flex-half">
                <img src="assets/images/men-1.jpg" alt="" class="img-responsive">
            </div>
            <div class="flex-half">
                <img src="assets/images/men-3.jpg" alt="" class="img-responsive">
            </div>
        </div>
    </div>
    <div class="acce-area">

    </div>
    <div class="women-area">

    </div>
</section>