<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-24 16:19:29
 * @LastEditTime: 2019-10-11 16:23:03
 * @LastEditors: Please set LastEditors
 -->
<section [ngClass]="{'mobile': isMobile}">
    <h1 class="text-center">
        <a [routerLink]="[ '/en/home']" class="left ">Return to store</a>
        <a [routerLink]="[ '/en/home' ]"><img src="assets/images/logo.png"></a>
        <a *ngIf="username" [routerLink]="[ '/en/myEnjoybag']" class="right">
            <fa-icon [icon]="faUser"></fa-icon> &nbsp;&nbsp;{{username}}
        </a>
        <a *ngIf="!username" [routerLink]="[ '/en/register']" class="right">
            <fa-icon [icon]="faUser"></fa-icon> &nbsp;&nbsp;Login
        </a>
    </h1>
    <div class="body">
        <router-outlet></router-outlet>
    </div>
</section>