<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-24 16:19:29
 * @LastEditTime: 2019-09-19 13:00:42
 * @LastEditors: Please set LastEditors
 -->
<section>
    <h1 class="text-center">
        <a [routerLink]="[ '/en/home']" class="left previousBtn">Return to store</a>
        <a [routerLink]="[ '/en/home' ]"><img src="assets/images/logo.png" alt=" "></a>
        <a *ngIf="username" [routerLink]="[ '/en/myEnjoybag']" class="right"><i aria-hidden="true"
        class="fa fa-user"></i>&nbsp;&nbsp;{{username}}</a>
    </h1>

    <router-outlet></router-outlet>
</section>