section {
    position: relative;
    margin: 0 auto;
    max-width: 1330px;
    padding: 1.4em 2em 5em;
    min-height: 80vh;
    overflow-x: hidden;
    h1 {
        border-bottom: 1px solid #ddd;
        position: relative;
        img {
            width: 130px;
            padding-bottom: 1em;
        }
    }
    p {
        font-size: .9em;
    }
}

.left {
    position: absolute;
    left: 2em;
    top: 18%;
}

.right {
    position: absolute;
    right: 2em;
    top: 18%;
    color: crimson;
    text-transform: capitalize;
}

.previousBtn {
    border-bottom: 1px solid #333;
    color: #333;
}