section {
    position: relative;
    margin: 0 auto;
    max-width: 1330px;
    padding: 1.4rem 2rem 5rem;
    min-height: 80vh;
    overflow-x: hidden;
    h1 {
        border-bottom: 1px solid #ddd;
        position: relative;
        padding-bottom: 1rem;
        img {
            width: 130px;
        }
    }
    p {
        font-size: .9em;
    }
}

.left {
    position: absolute;
    left: 2em;
    top: 18%;
    border-bottom: 1px solid #333;
    color: #333;
    line-height: 1.3;
}

.right {
    position: absolute;
    right: 2em;
    top: 18%;
    color: crimson;
    text-transform: capitalize;
}

.mobile {
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    h1 {
        position: fixed;
        top: 0;
        padding: 0.5rem 1rem;
        left: 0;
        right: 0;
        z-index: 999;
        background: #fff;
        .left {
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }
        .right {
            top: 50%;
            transform: translateY(-50%);
            right: 1rem;
        }
        img {
            max-width: 28vw;
        }
    }
    .body {
        margin-top: 53px;
    }
}