@mixin transform($value) {
    -webkit-transform: ($value);
    -moz-transform: ($value);
    -ms-transform: ($value);
    transform: ($value);
}

@mixin transition($value) {
    -webkit-transition: ($value);
    -moz-transition: ($value);
    -ms-transition: ($value);
    transition: ($value);
}

form {
    position: relative;
    .form-control-feedback {
        position: absolute;
        width: 123px;
        left: -138px;
        font-size: 10px;
        top: 13px;
        background: crimson;
        color: #fff;
        padding: 5px;
        text-align: center;
    }
    input[type="text"] {
        height: 20px;
        display: inline-block;
        border: none;
        outline: none;
        color: #555;
        padding: 3px;
        padding-right: 30px;
        position: absolute;
        top: -14px;
        right: 5px;
        background: none;
        transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
        width: 100px;
        z-index: 1;
        box-shadow: inset 0px -1px #999;
    }
    input[type="text"]:focus {
        box-shadow: inset 0px -1px crimson;
    }
    button {
        height: 20px;
        width: 20px;
        position: absolute;
        top: -10px;
        right: 10px;
        display: inline-block;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
        background-size: cover;
        text-indent: -10000px;
        border: none;
        opacity: 0.8;
        cursor: pointer;
        z-index: 3;
    }
}