<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-09-03 10:20:31
 * @LastEditTime: 2019-09-04 10:10:46
 * @LastEditors: Please set LastEditors
 -->
<section>
  <div class="banner">
    <h3>Forgot Password</h3>

  </div>
  <div class="body">
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <p>Please enter your email address to request a password reset.</p>
      <br>
      <fieldset>
        <div class="forms_field">
          <label for="email">Email *</label>
          <input autocomplete="on" formControlName="email" type="email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid_feedback">
            <div *ngIf="f.email.errors.required">email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
      </fieldset>
      <div class="forms_buttons">
        <button type="submit" [ngClass]="{'disabled': f.email.errors}">
          <span>Send Email </span>
          <div class="loader" *ngIf="loading">
            <span></span><span></span><span></span><span></span><span></span>
          </div>
        </button>
        <div class="feedback" *ngIf="message">
          <h4>{{message}}</h4>
          <p class="text-center">
            We have sent a message to your registered email, and please click the reset password link to set your new
            password. <br>
          </p>
        </div>
      </div>
    </form>
  </div>
</section>