$font-stack:'Source Sans Pro',
sans-serif;
section {
    position: relative;
    margin: 0 auto;
    max-width: 1530px;
    padding: 0 20px 50px;
    min-height: 60vh;
    overflow: hidden;
}

.banner {
    width: 100%;
    height: 170px;
    background: url("../../../assets/images/sale-bg.jpg") 50% 35% no-repeat /cover;
}

h5 {
    font-size: 1.5rem;
    margin: 50px 0;
    span {
        font-weight: 600;
        text-transform: uppercase;
    }
    a {
        text-decoration: underline;
        display: inline-block;
        margin: 20px 0 0;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 1rem;
        color: crimson
    }
}

.body {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 0;
    justify-content: center;
    h4 {
        width: 90%;
        font-size: 1.5rem;
        margin-bottom: 25px;
        color: #2d2d2d;
    }
    fieldset {
        display: block;
        margin: 0 auto 20px;
        label {
            color: #333;
            display: block;
            font-size: .9rem;
        }
        input {
            font-size: .9rem;
            font-weight: 300;
            width: 100%;
            padding: 7px 0 5px;
            letter-spacing: .1rem;
            border: none;
            border-bottom: 1px solid #ccc;
            background: rgba(243, 243, 243, 0.54);
            font-family: $font-stack;
            text-transform: capitalize;
            &.read {
                background: white;
            }
        }
        span {
            font-size: .8rem;
            color: crimson;
        }
    }
}

.forms_field {
    overflow: hidden;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .half {
        width: 48%;
    }
}

.body-left {
    width: 20%;
    ul {
        margin: 0 auto;
        border-top: 1px solid #ddd;
        li {
            cursor: pointer;
            font-weight: 600;
            padding: 15px 0;
            box-shadow: 0px 1px 0px 0px #ddd;
            text-align: center;
            i {
                color: crimson;
                display: inline-block;
                margin-right: 15px;
            }
            &.active {
                color: crimson;
                box-shadow: 0px 1px 0px 0px crimson;
            }
        }
    }
}

.body-right {
    width: 58%;
    min-height: 60vh;
    margin-left: 2% !important;
    .container {
        padding: 3%;
        border: 1px solid #ddd;
    }
}

.forms_mobile {
    input {
        display: inline-block;
    }
}

.short {
    width: 60px !important;
    margin-right: 10px;
}

.forms_month {
    .flex {
        align-items: center;
    }
}

.forms_address {
    >div {
        margin-top: 15px;
        label {
            color: #888 !important;
            font-size: .8rem !important;
        }
    }
}

.flex-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: .9rem;
    background: #f9f9f9;
    div {
        width: 15%;
        padding: 10px;
        min-width: 90px;
        &:last-child {
            text-align: right;
            max-width: 50px;
        }
        &:nth-child(4) {
            width: 35%;
        }
        button {
            border: none;
            text-transform: uppercase;
            background: crimson;
            color: #fff;
            cursor: pointer;
            padding: 5px;
        }
    }
}

.list-body {
    background: #fff;
    border-bottom: 1px solid #f9f9f9;
    align-items: center;
    div {
        padding-bottom: 5px;
    }
}

.styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
    &+label {
        position: relative;
        cursor: pointer;
        padding: 0;
        margin-left: 30px;
    }
    // Box.
    &+label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 16px;
        height: 16px;
        background: white;
        border: 1px solid #888;
        transition: all .3s;
        margin-left: -30px;
    }
    // Box hover
    &:hover+label:before,
    &:checked+label:before {
        background: crimson;
        border-color: crimson;
    }
    // Checkmark. Could be replaced with an image
    &:checked+label:after {
        content: '';
        position: absolute;
        left: 4px;
        top: 8px;
        margin-left: -30px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        transform: rotate(45deg);
    }
}

.nextBtn {
    font-size: 1rem;
    padding: 12px 18px;
    border-radius: 34px;
    border: none;
    color: #fff;
    margin: 10px;
    cursor: pointer;
    background-color: crimson;
}