.modal {
    width: 99%;
    text-align: right;
    position: relative;
}

.image {
    position: absolute;
    top: 0;
    width: 100%;
    div {
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;
        img {
            height: 94vh;
            margin-top: 3vh;
        }
        span {
            position: absolute;
            top: 49vh;
            font-size: 2rem;
            background: #fff;
            padding-left: 30px;
        }
        &.show {
            opacity: 1;
            visibility: visible;
        }
    }
}

.control {
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 46vh;
    a {
        font-size: 4rem;
        position: absolute;
        cursor: pointer;
    }
}

.control_prev {
    left: 20px;
}

.control_next {
    right: 20px;
}