nav {
    padding: 10px 1px 0;

    a {
        display: inline-block;
        padding: 5px 0 1px;
        margin-right: 20px;
        border-bottom: 1px solid #999;
        font-size: .75rem;
        text-transform: uppercase;
        position: relative;

        &:hover {
            color: crimson;
            border-bottom: 1px solid crimson;
        }

        &::after {
            content: '/';
            position: absolute;
            right: -13px;
        }
    }

    span {
        display: inline-block;
        padding: 5px 0 2px;
        margin-right: 10px;
        font-size: .75rem;
        text-transform: uppercase;
        color: #999;
    }
}

.bagBody {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.info {
    max-width: 440px;
    background: #fcfcfc;
    padding: 3em;
    margin: 0 auto;

    h4 {
        font-size: 1.2em;
        text-transform: capitalize;
        margin-bottom: 1em;
        font-weight: 600;

    }

    h5 {
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 1em;
    }

    p {
        margin-bottom: 0.8em;
        font-size: .9em;
        line-height: 1.2;
    }
}

.info-2 {
    background: #fff;

    p {
        margin: 0;

        span {
            display: block;
            line-height: 1.5;
        }
    }
}

.color-area {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.3em 0 0;
    position: relative;
    margin-bottom: 0.8em;

    p {
        position: absolute;
        right: 0;
        top: 5px;
        color: #999;
    }

    span {
        text-transform: uppercase;
        font-size: 0.9em;
        margin-left: 10px;
        color: #999;
    }
}

.color {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
    position: relative;
    border-radius: 50%;

    &:after {
        content: '';
        width: 26px;
        height: 26px;
        border: 1px solid #ddd;
        position: absolute;
        border-radius: 100%;
        left: -4px;
        top: -4px;
    }

    &.active:after {
        border: 1px solid #333;
    }

    span {
        display: inline-block;
        color: #fff;
        background: #333;
        position: absolute;
        left: 50%;
        bottom: 130%;
        transform: translateX(-50%);
        font-size: .8rem;
        width: 380%;
        text-align: center;
        padding: 5px;
        border-radius: 3px;
        opacity: 0;
        margin: 0;
    }

    &:hover {
        span {
            opacity: 1;
        }
    }
}

.promo-info {
    margin-bottom: 1em;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: .4em 0;

    span {
        font-size: .9em;
        color: #999;
        display: block;
        line-height: 1.5;
    }
}

.add-to-cart {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 4px;
    background: linear-gradient(45deg, #ff512f, #dd2476);
    font-size: .9rem;
    position: relative;
    overflow: hidden;
    transition: all .3s;
    width: 100%;

    &:hover {
        box-shadow: 0 4px 30px -5px #dc143c;
    }
}

.del {
    text-decoration: line-through;
    color: #999;
}

.social-icons {
    padding: 0;
    margin-top: 1em;
    list-style: none;
    display: inline-block;
    text-align: center;

    li {
        margin: 0 5px;
        display: inline-block;
        cursor: pointer;
        animation: fadeInScale .7s ease-in-out;

        a {
            display: inline-block;
            position: relative;

            i {
                position: absolute;
                top: 8px;
                left: 9px;
                transition: all 265ms ease-out;
                color: #fff;
                font-size: 1.2em;
            }
        }

        a:before {
            display: block;
            width: 34px;
            height: 34px;
            content: ' ';
            transition: all 265ms ease-out;
            transform: scale(1);
            border-radius: 100%;
            background: linear-gradient(45deg, #ff512f, #dd2476);
        }

        a:hover:before {
            transition: all 265ms ease-in;
            transform: scale(0);
        }

        a:hover i {
            transition: all 265ms ease-in;
            transform: scale(2);
            color: crimson;
        }
    }
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .half {
        width: 33.33%;
        text-align: center;
    }
}

.img-responsive {
    width: 100%;
    max-width: 500px;
    border: 1px solid #eee;
}

.loader-overlay {
    width: 100%;
    height: 80vh;
    opacity: 1;
    transition: all .5s;

    &.hidden {
        height: 0;
        opacity: 0;
    }
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid crimson;
    top: 20%;
    left: calc(50% - 15px);
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: crimson;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

.loader-btn {
    position: absolute;
    top: 16px;
    left: 50%;
    background: crimson;
    width: 120px;
    height: 28px;
    text-align: center;
    padding-top: 10px;
    margin-left: -60px;
    border-radius: 4px;

    span {
        display: inline-block;
        height: 8px;
        width: 8px;
        background: #fff;
        border-radius: 0px;

        &:nth-child(1) {
            border-radius: 0;
            background-clip: padding-box;
            border-radius: 500px;
            animation: scale 1s 0.1s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }

        &:nth-child(2) {
            border-radius: 0;
            background-clip: padding-box;
            border-radius: 500px;
            animation: scale 1s 0.2s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }

        &:nth-child(3) {
            border-radius: 0;
            background-clip: padding-box;
            border-radius: 500px;
            animation: scale 1s 0.3s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }

        &:nth-child(4) {
            border-radius: 0;
            background-clip: padding-box;
            border-radius: 500px;
            animation: scale 1s 0.4s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }

        &:nth-child(5) {
            border-radius: 0;
            background-clip: padding-box;
            border-radius: 500px;
            animation: scale 1s 0.5s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }
    }
}

@keyframes scale {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(0.9, 0.9);
        background: #ffd1d1;
    }

    50% {
        transform: scale(1, 1);
        margin: 0 3px;
        background: rgb(255, 255, 255);
    }

    100% {
        transform: scale(0);
    }
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 999;

    button {
        position: absolute;
        right: 30px;
        top: 20px;
        border: none;
        background: transparent;
        font-size: 2rem;
        cursor: pointer;
        z-index: 2;
    }
}