.bg-crimson {
    background: crimson !important;
}

.crimson {
    color: crimson
}

.flex {
    display: flex;
}

.uppercase {
    text-transform: uppercase;
}

.previousBtn {
    border-bottom: 1px solid #333;
    color: #333;
}

.sub {
    font-size: 0.8em;
    text-transform: capitalize;
    font-weight: unset;
}

.del {
    text-decoration: line-through;
    color: #bbb;
}

.nextBtn {
    background-color: #333;
    padding: 12px 18px !important;
    border: none;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    font-size: .9rem
}

.banner {
    ul {
        counter-reset: step;
        max-width: 90%;
        margin: 2em auto 1em;
        display: flex;
        position: relative;
        list-style: none;
    }
    h3 {
        text-transform: uppercase;
        margin: 3rem auto 0;
        text-align: center;
        font-size: 1.7rem;
        letter-spacing: 2px;
        color: #6b6b6b;
    }
    .step {
        flex: 1;
        counter-increment: step;
        padding-top: calc(40px + 1rem);
        /*40px is for the circle*/
        text-align: center;
        position: relative;
        cursor: pointer;
        background-image: linear-gradient(to bottom, transparent calc(20px - 2px), currentColor 0, currentColor calc(20px + 2px), transparent 0);
        &::before {
            display: flex;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #4c000e;
            content: counter(step);
            position: absolute;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 1.5rem;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &:last-child,
        &:first-child {
            background-size: 50% 100%;
            background-repeat: no-repeat;
        }
        &:first-child {
            background-position: 100% 0;
        }
        &.active {
            color: crimson;
        }
        &.active::before {
            background: crimson;
        }
        &.completed::before {
            content: '✓';
        }
    }
}

.mobile {
    .banner {
        ul {
            max-width: 100%;
        }
        h3 {
            margin-top: 1.5rem;
            font-size: .9rem;
        }
        .step::before {
            width: 30px;
            height: 30px;
            font-size: 1.2rem;
            top: 5px;
        }
    }
}

.body-pc {
    padding: 3rem;
    box-shadow: 0px 0px 8px 2px #e8e8e8;
    .body-flex {
        display: flex;
        flex-wrap: nowrap;
    }
    .body-left {
        width: 65%;
        padding-right: 2rem;
    }
    .full {
        width: 100%;
        padding-right: 0;
    }
    .body-right {
        width: 35%;
        padding-left: 2rem;
        border-left: 2px solid #eee;
        h4 {
            background: #f9f9f9;
            margin: 0 0 1rem;
            padding: 10px;
        }
        .nextBtn {
            margin: 1rem 0;
        }
    }
    .box {
        padding: 1rem;
    }
}

.body {
    margin: 3rem 0 0;
    color: #6b6b6b;
    h3 {
        text-transform: uppercase;
        margin: 0 0 12px;
        font-size: 1.5em;
        .sub {
            float: right;
            margin-top: 10px;
        }
    }
    h4 {
        font-size: 1.2em;
        line-height: 2;
        color: #333;
        span {
            display: inline-block;
            min-width: 8rem;
        }
    }
    label {
        font-weight: 500;
        font-size: .85em;
        text-transform: uppercase;
    }
    p {
        line-height: 1.3;
        font-weight: 400;
    }
    fa-icon {
        font-size: 1.5em;
    }
    .img-responsive {
        width: 100%;
    }
}

table {
    width: 100%;
    border: 1px solid #eee;
    border-bottom: none;
    border-top: none;
    thead {
        background-color: #f9f9f9;
    }
    th {
        padding: 20px 15px;
        text-align: left;
        border-right: 1px solid #eee;
        &:last-child {
            border: none;
        }
    }
    tr {
        border-bottom: solid 1px #eee;
    }
    td {
        padding: 15px;
        vertical-align: middle;
        font-weight: 300;
        text-transform: capitalize;
        &:last-child {
            border: none;
        }
        .flex {
            align-items: center;
        }
    }
    img {
        margin-right: 5px;
    }
    .flex {
        align-items: center;
    }
}

.flex-content {
    justify-content: space-between;
    input {
        padding: 5px;
        line-height: 1.4;
        float: left;
        border: none;
        background: #efefef;
    }
    button {
        border: none;
        background: #333;
        color: #fff;
        padding: 6px 10px;
        cursor: pointer;
        font-size: 0.9rem;
        position: relative;
    }
    p {
        line-height: 2;
        span {
            min-width: 8rem;
            display: inline-block;
        }
    }
}

.body-mobile {
    padding: 1rem 0;
    margin-top: 2rem;
    .box {
        padding: .4rem;
    }
    fa-icon {
        position: absolute;
        bottom: 0;
        right: 5px;
    }
    .cart {
        border-bottom: 1px solid #e8e8e8;
        border-top: 1px solid #e8e8e8;
        padding: 1rem 0;
        img {
            max-width: 5rem;
        }
        .flex {
            div {
                &:nth-child(2) {
                    width: 100%;
                }
                &:last-child {
                    padding: 0;
                    min-width: 2rem;
                }
            }
        }
        .qty {
            p {
                border: 1px solid #ff0030;
                text-align: center;
                display: inline-block;
                padding: 0 5px;
            }
        }
    }
    .flex {
        padding-bottom: 1rem;
        padding-top: 1rem;
        &:first-child {
            padding-top: 0;
        }
        div {
            padding-right: 10px;
            position: relative;
        }
    }
    .total {
        border-top: 1px solid #e8e8e8;
        margin-top: 1rem;
        padding-top: .4rem;
        p {
            clear: both;
        }
        span {
            line-height: 2;
            &:last-child {
                float: right;
                text-align: right;
            }
        }
    }
    .promo {
        padding-top: 1rem;
        border-top: 1px solid #eee;
        input {
            width: calc(100% - 109px);
        }
    }
    .checkout {
        padding-top: 1rem;
        border-top: 1px solid #e8e8e8;
        margin-top: 1rem;
        h4 {
            background: #f9f9f9;
            margin: 0 0 1rem;
        }
        .nextBtn {
            margin: 1rem 0;
        }
    }
}

.loader {
    position: absolute;
    top: 0px;
    right: 0px;
    background: crimson;
    width: 100%;
    height: 23px;
    text-align: center;
    padding-top: 6px;
    span {
        display: inline-block;
        height: 8px;
        width: 8px;
        background: #fff;
        border-radius: 0px;
        &:nth-child(1) {
            border-radius: 0;
            background-clip: padding-box;
            border-radius: 500px;
            animation: scale 1s 0.1s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }
        &:nth-child(2) {
            border-radius: 0;
            background-clip: padding-box;
            border-radius: 500px;
            animation: scale 1s 0.2s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }
        &:nth-child(3) {
            border-radius: 0;
            background-clip: padding-box;
            border-radius: 500px;
            animation: scale 1s 0.3s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }
        &:nth-child(4) {
            border-radius: 0;
            background-clip: padding-box;
            border-radius: 500px;
            animation: scale 1s 0.4s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }
        &:nth-child(5) {
            border-radius: 0;
            background-clip: padding-box;
            border-radius: 500px;
            animation: scale 1s 0.5s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }
    }
}

@keyframes scale {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(0.9, 0.9);
        background: #ffd1d1;
    }
    50% {
        transform: scale(1, 1);
        margin: 0 3px;
        background: rgb(255, 255, 255);
    }
    100% {
        transform: scale(0);
    }
}