<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-05 14:52:15
 * @LastEditTime: 2019-08-30 15:43:04
 * @LastEditors: Please set LastEditors
 -->
<header>
    <div class="head-top">
        <div class="head-top-body">
            <a [routerLink]="[ '/en/FAQ/delivery' ]">Enjoy free standard delivery on local orders over HK$500.00 <i
                    class="fa fa-chevron-right"></i></a>
            <div class="head-top-right ">
                <div class="select-box ">
                    <div class="select-box__current " tabindex="0">
                        <div class="select-box__value">
                            <input class="select-box__input " type="radio" id="EN" value="EN" name="language " checked />
                            <p class="select-box__input-text ">EN</p>
                        </div>
                        <div class="select-box__value ">
                            <input class="select-box__input " type="radio" id="TC" value="TC" name="language " />
                            <p class="select-box__input-text ">中­</p>
                        </div>
                        <i class="fa fa-chevron-down " aria-hidden="true "></i>
                    </div>
                    <ul class="select-box__list ">
                        <li>
                            <label class="select-box__option " for="EN" aria-hidden="aria-hidden " (click)="changeLanguage('en')">EN</label>
                        </li>
                        <li>
                            <label class="select-box__option " for="TC" aria-hidden="aria-hidden " (click)="changeLanguage('tc')">中­­</label>
                        </li>
                    </ul>
                </div>
                <div class="select-box ">
                    <div class="select-box__current" tabindex="0">
                        <div class="select-box__value ">
                            <input class="select-box__input select-box__currency " type="radio" id="HKD" value="HKD" name="currency" [checked]="userCurrency === 'HKD' ? true : false" />
                            <p class="select-box__input-text">HKD</p>
                        </div>
                        <div class="select-box__value">
                            <input class="select-box__input  select-box__currency " type="radio" id="RMB" value="RMB" name="currency" [checked]="userCurrency === 'RMB' ? true : false" />
                            <p class="select-box__input-text">RMB</p>
                        </div>
                        <div class="select-box__value">
                            <input class="select-box__input  select-box__currency " type="radio" id="USD" value="USD" name="currency" [checked]="userCurrency === 'USD' ? true : false" />
                            <p class="select-box__input-text">USD</p>
                        </div>
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <ul class="select-box__list ">
                        <li>
                            <label class="select-box__option " for="HKD" aria-hidden="aria-hidden " (click)="changeCurrency('HKD')">HKD</label>
                        </li>
                        <li>
                            <label class="select-box__option " for="RMB" aria-hidden="aria-hidden " (click)="changeCurrency('RMB')">RMB</label>
                        </li>
                        <li>
                            <label class="select-box__option " for="USD" aria-hidden="aria-hidden " (click)="changeCurrency('USD')">USD</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{'fixed-top': fixed}">
        <div class="head-body">
            <nav class="head-body-left ">
                <ul>
                    <li><a [routerLink]="[ 'products/new/all' ]" routerLinkActive="active">New</a>
                    </li>
                    <li><a [ngClass]="{'active': navActive}" [routerLink]="[ 'products/women/all' ]" routerLinkActive="active">Women's <i class="fa fa-chevron-down "
                                aria-hidden="true "></i></a>
                        <div class="drop">
                            <div>
                                <ul>
                                    <li>
                                        <h4>Categories</h4>
                                    </li>
                                    <li *ngFor="let category of categories"><a [routerLink]="[ 'products/women/'+ category.url  ]" routerLinkActive="active">{{category.name}}</a> </li>
                                    <li><a [routerLink]="[ 'products/women/all' ]" routerLinkActive="active">View
                                            All</a></li>
                                </ul>
                                <ul>
                                    <li>
                                        <h4>Collections</h4>
                                    </li>
                                    <li><a [routerLink]="[ 'products/collections/ZHU' ]" routerLinkActive="active">ZHU
                                            Collections</a>
                                    </li>
                                    <li><a [routerLink]="[ 'products/collections/EJ' ]" routerLinkActive="active">EJ
                                            Collections</a> </li>
                                    <li><a [routerLink]="[ 'products/new/all' ]">New</a> </li>
                                    <li><a [routerLink]="[ 'products/sale/all' ]">Sale</a> </li>
                                </ul>
                                <div class="nav-img ">
                                    <img src="../../../assets/images/20190903/ej.jpg " alt=" ">
                                    <a [routerLink]="[ 'products/collections/EJ' ]" routerLinkActive="active">EJ
                                        Collections</a>
                                </div>
                                <div class="nav-img ">
                                    <img src="../../../assets/images/tote.jpg" alt=" ">
                                    <a [routerLink]="[ 'products/collections/ZHU' ]" routerLinkActive="active">ZHU
                                        Collections</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a [routerLink]="[ 'products/men/all']" routerLinkActive="active">Men's</a>
                    </li>
                    <li><a [ngClass]="{'active': navActiveAcce}" [routerLink]="[ 'products/accessories/all' ]" routerLinkActive="active">Accessories <i class="fa fa-chevron-down "
                                aria-hidden="true "></i></a>
                        <div class="drop">
                            <div>
                                <ul>
                                    <li>
                                        <h4>Categories</h4>
                                    </li>
                                    <li *ngFor="let slg of categoriesSLG">
                                        <a [routerLink]="[ 'products/accessories/'+ slg.url ]" routerLinkActive="active">{{slg.name}}</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="[ 'products/accessories/all']" routerLinkActive="active">View
                                            All</a>
                                    </li>
                                </ul>
                                <div class="nav-img ">
                                    <img src="../../../assets/images/header-men.jpg " alt=" ">
                                    <a [routerLink]="[ 'products/men']" routerLinkActive="active">Gifts for him</a>
                                </div>
                                <div class="nav-img ">
                                    <img src="../../../assets/images/20190903/ufo-4.jpg " alt=" ">
                                    <a [routerLink]="[ 'products/new/all']">New Arrivals</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a [routerLink]="[ 'products/discount/all']" routerLinkActive="active">Sale</a>
                    </li>
                </ul>
            </nav>
            <a [routerLink]="[ 'home' ]"><img src="assets/images/logo.png" alt=" "></a>
            <div class="head-body-right ">
                <div class="head head-search ">
                    <app-search></app-search>
                </div>
                <div class="head head-login">
                    <a [routerLink]="[ '/en/register']" *ngIf="!logined"> <i class="fa fa-user" aria-hidden="true"></i></a>
                    <a [routerLink]="[ '/en/myEnjoybag']" *ngIf="logined" [ngClass]="{'crimson': logined}"> <i class="fa fa-user" aria-hidden="true"></i></a>
                    <div class="drop-login">
                        <app-user-login></app-user-login>
                    </div>
                </div>
                <div class="head head-cart">
                    <a id="cartIcon" [ngClass]="{'crimson': cartNum>0}"><i class="fa fa-shopping-bag"
                            aria-hidden="true"></i>
                        <span id="cartNum" *ngIf="cartNum>0">{{cartNum}}</span></a>
                    <div class="drop-login drop-cart" id="cartInfo">
                        <app-user-cart></app-user-cart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>