$font-stack:'Source Sans Pro',
sans-serif;
$primary-color: #333;

@mixin transform($value) {
    -webkit-transform: ($value);
    -moz-transform: ($value);
    -ms-transform: ($value);
    transform: ($value);
}

@mixin transition($value) {
    -webkit-transition: ($value);
    -moz-transition: ($value);
    -ms-transition: ($value);
    transition: ($value);
}

header {
    font: 100% $font-stack;
    color: $primary-color;
    box-shadow: 0px 1px 1px 0px #eee;
    position: relative;
    z-index: 999;
}

.head-top {
    background: $primary-color;
    text-align: center;
    padding: 10px 15px;
}

.head-top-body {
    max-width: 1530px;
    margin: 0 auto;
    text-align: right;
    position: relative;
    height: 20px;

    a {
        color: #fff;
        display: inline-block;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        left: 0;
        font-size: 14px;
        @include transform(translate(0, -50%));

        i {
            font-size: 12px;
        }
    }
}

.head-body {
    display: flex;
    max-width: 1530px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
    position: relative;

    a {
        display: inline-block;
        text-align: center;

        img {
            width: 140px;
            vertical-align: middle;
        }

        &:hover {
            color: crimson;
        }
    }
}

.head-body-left {
    text-align: left;
    width: 50%;

    ul {
        display: flex;
        flex-wrap: nowrap;
        line-height: 60px;

        li {
            padding: 0 20px 0 0;
            font-size: 14px;
            cursor: pointer;

            i {
                font-size: 10px;
                @include transition(all 0.3s 0.05s);
            }

            &:hover {
                >a {
                    color: crimson;
                }
            }
        }
    }

    a.active {
        color: crimson;
    }

    .drop {
        position: absolute;
        overflow: hidden;
        padding: 0;
        width: 100%;
        margin: 0 auto;
        left: 0;
        visibility: hidden;

        div {
            background: #fcfcfc;
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 3em;
            z-index: 1;
            @include transform(translate(0, -118%));
            @include transition(all 0.2s 0.05s);

            .nav-img {
                width: 32%;
                display: block;
                text-align: center;
                padding: 0;
                margin: 0 2%;
                line-height: 1;

                img {
                    margin: 0 auto;
                    display: block;
                    width: 100%;
                }

                a {
                    border-bottom: 1px solid crimson;
                    padding: 10px 0 5px;
                }
            }

            ul {
                width: 20%;
                display: block;
                line-height: 1;

                li {
                    display: block;
                    padding-bottom: 1em;

                    h4 {
                        text-transform: uppercase;
                        padding-bottom: 5px;
                        border-bottom: 1px solid #ddd;
                        color: #999
                    }

                    a {
                        text-transform: capitalize;
                    }
                }
            }
        }
    }

    @for $i from 1 through 4 {
        li:nth-child(#{$i}) {
            &:hover {
                color: crimson;
            }

            &:hover>div {
                visibility: visible;
            }

            &:hover div>div {
                @include transform(translate(0, 1px));
            }

            &:hover i {
                @include transform(rotate(180deg));
            }
        }
    }
}

.head-top-right {
    color: #fff;
    float: right;
    display: flex;
    justify-content: flex-end;

    .select-box {
        position: relative;
        display: inline-block;
        padding-left: 10px;

        &__current {
            position: relative;
            cursor: pointer;
            outline: none;
            width: 70px;

            &:focus {
                &+.select-box__list {
                    opacity: 1;
                    animation-name: none;

                    .select-box__option {
                        cursor: pointer;
                    }
                }

                i {
                    top: 3px;
                    @include transform(rotate(180deg));
                    @include transition(all 0.3s 0.05s);
                }
            }
        }

        i {
            position: absolute;
            top: 0;
            right: 5px;
        }

        &__value {
            display: flex;
            line-height: 20px;
        }

        &__input {
            display: none;

            &:checked+.select-box__input-text {
                display: block;
            }
        }

        &__input-text {
            display: none;
            width: 100%;
            margin: 0;
            padding: 0 26px 0 5px;
            color: #fff;
        }

        &__list {
            position: absolute;
            padding: 1px 0 0 0;
            background: $primary-color;
            color: #fff;
            list-style: none;
            opacity: 0;
            top: 30px;
            left: 10px;
            width: 70px;
            text-align: center;
            z-index: 4;
            animation-name: HideList;
            animation-duration: 0.2s;
            animation-delay: 0.2s;
            animation-fill-mode: forwards;
            animation-timing-function: step-start;
            @include transition(all 0.3s 0.05s);
        }

        &__option {
            display: block;
            padding: 5px;

            &:hover,
            &:focus {
                background-color: crimson;
            }
        }

        @keyframes HideList {
            from {
                transform: scaleY(1);
            }

            to {
                transform: scaleY(0);
            }
        }
    }
}

.head-body-right {
    text-align: right;
    width: 50%;
    position: relative;

    &>div {
        display: inline-block;
        padding: 0 0 0 20px;
        cursor: pointer;
        @include transition(all 0.3s 0.05s);

        &>a {
            color: #999;
            font-size: 18px;
            width: 20px;
            text-align: center;
            padding: 4px 3px 0;
            vertical-align: middle;
        }

        &:hover>a,
        .crimson {
            color: crimson;
        }

        &:nth-child(2) {
            i {
                font-size: 22px;
                margin-top: 4px;
            }
        }
    }
}

.head-search {
    position: relative;
}

.head:hover {
    .drop-login {
        box-shadow: 0px 1px 1px 0px #ccc;
    }
}

.head-login:hover {
    .drop-login {
        opacity: 1;
        visibility: visible;
    }
}

.head-cart {
    a {
        position: relative;
    }

    i {
        font-size: 14px;
    }

    .fa-shopping-bag:before {
        margin-right: 8px;
        font-size: 18px;
    }

    span {
        position: absolute;
        top: 10px;
        left: -10px;
        color: crimson;
        font-size: .8rem;
    }

    .cart-num {
        position: absolute;
        top: 9px;
        right: -7px;
    }

    &:hover {
        .drop-login {
            opacity: 1;
            visibility: visible;
        }
    }
}

.cartFocus {
    color: crimson !important;
}

.drop-login {
    position: absolute;
    top: 47px;
    right: 0px;
    padding: 30px 0px 40px;
    max-width: 1530px;
    width: 96vw;
    background: #fcfcfc;
    z-index: 3;
    text-align: left;
    cursor: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s 0.05s;
}

app-login {
    display: flex;
    align-items: center;
}

.drop-cart {
    width: 260px;
    padding: 20px;
}

app-user-cart {
    width: 100%;
}

.fixed-top {
    position: fixed;
    width: 100%;
    background: #fff;
    top: 0;
    border-bottom: 1px solid #ddd;
}