$primary-color: #333;
@mixin transform($value) {
    -webkit-transform: ($value);
    -moz-transform: ($value);
    -ms-transform: ($value);
    transform: ($value);
}

@mixin transition($value) {
    -webkit-transition: ($value);
    -moz-transition: ($value);
    -ms-transition: ($value);
    transition: ($value);
}

header {
    color: $primary-color;
    box-shadow: 0px 1px 1px 0px #eee;
    position: relative;
    z-index: 999;
}

.head-top {
    background: $primary-color;
    text-align: center;
}

.head-top-body {
    text-align: center;
    position: relative;
    margin: 0 auto;
    max-width: 1530px;
    padding: 10px 2rem;
    a {
        color: #fff;
    }
}

.head-top-right {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 2rem;
    top: 10px;
    .select-box {
        position: relative;
        display: inline-block;
        text-align: right;
        &__current {
            position: relative;
            cursor: pointer;
            outline: none;
            &:focus {
                &+.select-box__list {
                    opacity: 1;
                    animation-name: none;
                    .select-box__option {
                        cursor: pointer;
                    }
                }
                i {
                    top: 1px;
                    @include transform(rotate(180deg));
                    @include transition(all 0.3s 0.05s);
                }
            }
        }
        i {
            position: absolute;
            top: -2px;
            right: 5px;
        }
        &__value {
            display: flex;
        }
        &__input {
            display: none;
            &:checked+.select-box__input-text {
                display: block;
            }
        }
        &__input-text {
            display: none;
            width: 100%;
            margin: 0;
            padding-right: 1.875rem;
            color: #fff;
        }
        &__list {
            position: absolute;
            padding: 1px 0 0 0;
            background: $primary-color;
            color: #fff;
            list-style: none;
            opacity: 0;
            top: 26px;
            left: -1rem;
            width: 100%;
            text-align: center;
            z-index: 4;
            animation-name: HideList;
            animation-duration: 0.2s;
            animation-delay: 0.2s;
            animation-fill-mode: forwards;
            animation-timing-function: step-start;
            @include transition(all 0.3s 0.05s);
        }
        &__option {
            display: block;
            padding: 5px;
            &:hover,
            &:focus {
                background-color: crimson;
            }
        }
        @keyframes HideList {
            from {
                transform: scaleY(1);
            }
            to {
                transform: scaleY(0);
            }
        }
        &:first-child {
            margin-right: 1rem;
        }
    }
}

.head-body {
    display: flex;
    max-width: 1530px;
    margin: 0 auto;
    padding: 0 2rem;
    align-items: center;
    position: relative;
    a {
        display: inline-block;
        text-align: center;
        img {
            width: 140px;
            vertical-align: middle;
        }
        &:hover {
            color: crimson;
        }
    }
}

.head-body-left {
    text-align: left;
    width: 50%;
    ul {
        display: flex;
        flex-wrap: nowrap;
        line-height: 60px;
        li {
            padding: 0 20px 0 0;
            font-size: 14px;
            cursor: pointer;
            i {
                font-size: 10px;
                @include transition(all 0.3s 0.05s);
            }
            &:hover {
                >a {
                    color: crimson;
                }
            }
        }
    }
    a.active {
        color: crimson;
    }
    .drop {
        position: absolute;
        overflow: hidden;
        width: calc(100% - 4rem);
        left: 2rem;
        visibility: hidden;
        box-shadow: 0px 1px 1px 0px #ccc;
        div {
            background: #fcfcfc;
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 3em;
            z-index: 1;
            @include transform(translate(0, -118%));
            @include transition(all 0.2s 0.05s);
            .nav-img {
                width: 32%;
                display: block;
                text-align: center;
                padding: 0;
                margin: 0 2%;
                line-height: 1;
                img {
                    margin: 0 auto;
                    display: block;
                    width: 100%;
                }
                a {
                    border-bottom: 1px solid crimson;
                    padding: 10px 0 5px;
                }
            }
            ul {
                width: 20%;
                display: block;
                line-height: 1;
                li {
                    display: block;
                    padding-bottom: 1em;
                    h4 {
                        text-transform: uppercase;
                        padding-bottom: 5px;
                        border-bottom: 1px solid #ddd;
                        color: #999
                    }
                    a {
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
    @for $i from 1 through 4 {
        li:nth-child(#{$i}) {
            &:hover {
                color: crimson;
            }
            &:hover>div {
                visibility: visible;
            }
            &:hover div>div {
                @include transform(translate(0, 1px));
            }
            &:hover i {
                @include transform(rotate(180deg));
            }
        }
    }
}

.head-body-right {
    text-align: right;
    width: 50%;
    position: relative;
}

.head {
    display: inline-block;
    padding: 0 0 0 1.5rem;
    cursor: pointer;
    @include transition(all 0.3s 0.05s);
    a {
        color: #999;
        text-align: center;
        padding-top: 4px;
        vertical-align: middle;
        font-size: 1.1rem;
        .fa-user {
            font-size: 1.4rem;
        }
    }
    &:hover>a,
    .crimson {
        color: crimson;
    }
}

.head-search {
    position: relative;
    form {
        position: relative;
        .form-control-feedback {
            position: absolute;
            width: 123px;
            left: -138px;
            font-size: 10px;
            top: 13px;
            background: crimson;
            color: #fff;
            padding: 5px;
            text-align: center;
        }
        input[type="text"] {
            height: 20px;
            display: inline-block;
            border: none;
            outline: none;
            color: #555;
            padding: 3px;
            padding-right: 30px;
            position: absolute;
            top: -14px;
            right: 5px;
            background: none;
            transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
            width: 100px;
            z-index: 1;
            box-shadow: inset 0px -1px #999;
        }
        input[type="text"]:focus {
            box-shadow: inset 0px -1px crimson;
        }
        button {
            height: 20px;
            width: 20px;
            position: absolute;
            top: -10px;
            right: 10px;
            display: inline-block;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
            background-size: cover;
            text-indent: -10000px;
            border: none;
            opacity: 0.8;
            cursor: pointer;
            z-index: 3;
        }
    }
}

.head:hover {
    .drop-login {
        box-shadow: 0px 1px 1px 0px #ccc;
    }
}

.head-login:hover {
    .drop-login {
        opacity: 1;
        visibility: visible;
    }
}

.head-cart {
    position: relative;
    .crimson {
        padding-right: 1.3rem;
    }
    span {
        position: absolute;
        top: 6px;
        left: 3rem;
        color: crimson;
        font-size: 1rem;
    }
    &:hover {
        .drop-login {
            opacity: 1;
            visibility: visible;
        }
    }
}

.cartFocus {
    color: crimson !important;
}

.drop-login {
    position: absolute;
    top: 44px;
    right: 0px;
    padding: 30px 0px 40px;
    max-width: 1530px;
    width: 96vw;
    background: #fcfcfc;
    z-index: 3;
    text-align: left;
    cursor: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s 0.05s;
}

app-login {
    display: flex;
    align-items: center;
}

.drop-cart {
    width: 260px;
    padding: 20px;
}

app-user-cart {
    width: 100%;
}

.fixed-top {
    position: fixed;
    width: 100%;
    background: #fff;
    top: 0;
    border-bottom: 1px solid #ddd;
}