<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-08-07 12:22:51
 * @LastEditTime: 2019-10-11 16:33:09
 * @LastEditors: Please set LastEditors
 -->
<section [ngClass]="{'mobile': isMobile}">
    <div class="banner"> </div>
    <div *ngIf="user" class="body">
        <h3 class="text-center">
            <span>Welcome, {{user.firstname}} - {{level}}
                <fa-icon [icon]="faQuestion" (click)="goToMembershipTC()"></fa-icon>
            </span>
            <br>
            <a (click)="logout()">Log Out</a>
        </h3>
        <div class="grid">
            <a [routerLink]="[ './'+user.id+'/profile' ]" routerLinkActive="active">
                <fa-icon [icon]="faUser" (click)="goToMembershipTC()"></fa-icon>
                My Profile
            </a>
            <a [routerLink]="[ './'+user.id+'/address-book' ]" routerLinkActive="active">
                <fa-icon [icon]="faMap" (click)="goToMembershipTC()"></fa-icon> Address Book
            </a>
            <!-- <a [routerLink]="[ './'+user.id+'/password' ]" routerLinkActive="active"><i class="fa fa-user"></i>Change
        Password</a> -->
            <a [routerLink]="[ './'+user.id+'/order-history' ]" routerLinkActive="active">
                <fa-icon [icon]="faList" (click)="goToMembershipTC()"></fa-icon>
                Order History
            </a>
        </div>
        <router-outlet></router-outlet>
    </div>
</section>