<nav><a [routerLink]="[ '../../home' ]">Home</a><a [routerLink]="[ '../','all' ]">accessories</a><span>{{name}}</span>
</nav>
<div class="banner" [ngClass]="{ 'banner-all': name==='all',  'banner-chain': name==='chain wallet',
    'banner-wallet': name==='wallet',  'banner-cosmetic': name==='cosmetic bag',
    'banner-cardholder': name==='cardholder',   'banner-belt': name==='belt',  'banner-bracelet': name==='bracelet', 
    'banner-charm': name==='charm' }">
    <h2 [hidden]="name!='all'">accessories world</h2>
    <h2 [hidden]="name==='all'">{{name}}</h2>
</div>
<div class="body-flex">
    <div class="side-list">
        <h4> By Categories</h4>
        <ul>
            <li> <a [ngClass]="{'active': name==='chain wallet'}" [routerLink]="[ '../','chain wallet']">Chain
          Wallet</a>
            </li>
            <li> <a [ngClass]="{'active': name==='wallet'}" [routerLink]="[ '../','wallet']">Wallet</a> </li>
            <li> <a [ngClass]="{'active': name==='cosmetic bag'}" [routerLink]="[ '../','cosmetic bag']">Cosmetic
          Bag</a>
            </li>
            <li> <a [ngClass]="{'active': name==='cardholder'}" [routerLink]="[ '../','cardholder']">Card Holder</a>
            </li>
            <li> <a [ngClass]="{'active': name==='belt'}" [routerLink]="[ '../','belt']">Belt</a> </li>
            <li> <a [ngClass]="{'active': name==='bracelet'}" [routerLink]="[ '../','bracelet']">Bracelet</a></li>
            <li> <a [ngClass]="{'active': name==='charm'}" [routerLink]="[ '../','charm']">Charm</a> </li>
            <li> <a [routerLink]="[ '../','all']" [ngClass]="{'active': name==='all'}"> View All</a></li>
        </ul>
        <h4> By Collections</h4>
        <ul>
            <li><a [routerLink]="['/en/products/new/all']"> New Arrivals</a></li>
            <li><a [routerLink]="['/en/products/sale/all']"> Best Sellers</a></li>
            <li> <a [routerLink]="['/en/products/collections/ZHU']">ZHU</a> </li>
            <li> <a [routerLink]="['/en/products/collections/EJ']">EJ</a> </li>
        </ul>
    </div>
    <div class="right-list">
        <app-bag-list></app-bag-list>
    </div>
</div>