@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');
section {
    position: relative;
    margin: 0 auto;
    max-width: 1530px;
    padding: 0 20px 40px;
    nav {
        padding: 10px 1px;
        a {
            display: inline-block;
            padding: 5px 0 1px;
            margin-right: 20px;
            border-bottom: 1px solid #999;
            font-size: .75rem;
            text-transform: uppercase;
            position: relative;
            &:hover {
                color: crimson;
            }
            &::after {
                content: '/';
                position: absolute;
                right: -13px;
            }
        }
        span {
            display: inline-block;
            padding: 5px 0 2px;
            margin-right: 10px;
            font-size: .75rem;
            text-transform: uppercase;
            color: #999;
        }
    }
    .banner {
        width: 100%;
        height: 400px;
        text-align: center;
        position: relative;
        background: url(../../../assets/images/cradle-1.jpg) 0% 90%;
        background-size: 100%;
        h2 {
            font-size: 3rem;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            margin: 0;
            transform: translate(-50%, -50%);
            text-transform: uppercase;
            color: #fff;
            text-shadow: 1px 1px 1px #555;
            font-family: 'Noto Serif TC', serif;
        }
    }
}