<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-05 14:52:14
 * @LastEditTime: 2019-11-04 17:02:40
 * @LastEditors: Please set LastEditors
 -->
<div class="product-list" [ngClass]="{'mobile': isMobile}">
    <div class="loader-overlay" *ngIf="loading">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <div *ngIf="!loading&&collections.length>0">
        <div class="grid-layout" *ngFor="let collection of collections">
            <div class="box-top">
                <h5>{{collection.collectionname.slice(0, -10) | uppercase}}</h5>
                <h5>{{collection.product.length}} Items</h5>
            </div>
            <div class="box-wrapper">
                <a *ngFor="let bag of collection.product| slice:0:8; let index=index" class="item" [routerLink]="['./', bag.productcode]" routerLinkActive="active">
                    <div class="box" (deferLoad)="bag.image.show = true">
                        <div class="imgHover">
                            <img *ngIf="!bag.image.show" src="assets/images/icon.png" />
                            <div *ngIf="bag.image.show">
                                <img (mouseover)="bag.image.secondShow=true" class="img-bag" [ngClass]="{'fade-in': !this.imageLoader}" (load)="this.imageLoader = false;" [src]="bag.image.url" onError="this.src='assets/images/icon.png'">
                                <img *ngIf="bag.image.secondShow" [src]="bag.image.second" class="img-bag img-bag-2" onError="this.src='assets/images/hidden.png'">
                            </div>
                        </div>
                    </div>
                    <div class="bag-info">
                        <h4>{{bag.productname}}</h4>
                        <p [ngClass]="{'del': bag.discountprice!='0'}"> {{bag.price| currency: userCurrency}}</p>
                        <p [hidden]="bag.discountprice=='0'">&nbsp; {{bag.discountprice| currency: userCurrency}}
                        </p>
                        <p class="small" *ngIf="bag.discountprice!='0'">&nbsp; {{bag.discountpriceper| uppercase}}
                        </p>
                    </div>
                </a>
                <ng-container *ngIf="collection.more===true">
                    <a *ngFor="let bag of collection.product| slice:8; let index=index" class="item" [routerLink]="['./', bag.productcode]" routerLinkActive="active">
                        <div class="box" (deferLoad)="bag.image.show = true">
                            <div class="imgHover">
                                <img *ngIf="!bag.image.show" src="assets/images/icon.png" />
                                <div *ngIf="bag.image.show">
                                    <img (mouseover)="bag.image.secondShow=true" class="img-bag" [ngClass]="{'fade-in': !this.imageLoader}" (load)="this.imageLoader = false;" [src]="bag.image.url" onError="this.src='assets/images/icon.png'">
                                    <img *ngIf="bag.image.secondShow" [src]="bag.image.second" class="img-bag img-bag-2" onError="this.src='assets/images/hidden.png'">
                                </div>
                            </div>
                        </div>
                        <div class="bag-info">
                            <h4>{{bag.productname}}</h4>
                            <p [ngClass]="{'del': bag.discountprice!='0'}"> {{bag.price| currency: userCurrency}}</p>
                            <p [hidden]="bag.discountprice=='0'">&nbsp; {{bag.discountprice| currency: userCurrency}}
                            </p>
                            <p class="small" *ngIf="bag.discountprice!='0'">&nbsp; {{bag.discountpriceper| uppercase}}
                            </p>
                        </div>
                    </a>
                </ng-container>
                <!-- <a class="item" *ngIf="collection.product.length<4 && collection.product.length %4 ==3">
                    <div class="imgHover">
                        <img src="assets/images/cradle.jpg">
                        <img src="assets/images/group.jpg" class="img-bag img-bag-2">
                        <a [routerLink]="['/en/products/new/all']">More New Arrivals</a>
                    </div>
                </a> -->
            </div>
            <div class="box-more" *ngIf="collection.product.length>8 && collection.more==false">
                <button (click)="collection.more=true">View All Collection Items ( {{collection.product.length}}
                    )</button>
            </div>
        </div>
    </div>
    <div *ngIf="!loading&&collections.length===0">
        <h3 class="text-center">
            <span class="strong">Sorry !</span> <br>
            <span> The products you are looking for are temporarily unavailable.</span> <br>
            <span>For any enquiries, please drop us a message </span> <br>
            <a [routerLink]="[ '/en/FAQ']" fragment="Contact">Contact Us</a>
        </h3>
    </div>
</div>
<div class="scroll-btn" [ngClass]="{'show-scrollTop': windowScrolled}">
    <button (click)="scrollTop()">
        <fa-icon [icon]="faChevronUp"></fa-icon> TOP
    </button>
</div>