li {
    list-style: none;
}

nav {
    padding: 10px 1px;
    a {
        display: inline-block;
        padding: 5px 0 1px;
        margin-right: 20px;
        border-bottom: 1px solid #999;
        font-size: .75rem;
        text-transform: uppercase;
        position: relative;
        &:hover {
            color: crimson;
        }
        &::after {
            content: '/';
            position: absolute;
            right: -13px;
        }
    }
    span {
        display: inline-block;
        padding: 5px 0 2px;
        margin-right: 10px;
        font-size: .75rem;
        text-transform: uppercase;
        color: #999;
    }
}

.banner {
    width: 100%;
    height: 400px;
    text-align: center;
    position: relative;
    h2 {
        font-size: 2rem;
        position: absolute;
        top: 50%;
        left: 0;
        width: 50%;
        margin: 0;
        transform: translateY(-50%);
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
    }
    &-all {
        background: url(../../../assets/images/acce.jpg) 100% 32% no-repeat;
        background-size: contain;
        background-color: #f0f0f0;
    }
    &-chain {
        background: url(../../../assets/images/chainwallet.jpg) 100% 50% no-repeat;
        background-size: contain;
        background-color: #fffaf5;
    }
    &-wallet {
        background: url(../../../assets/images/wallet.jpg) 100% 32% no-repeat;
        background-size: contain;
        background-color: #f9f9f9;
    }
    &-cosmetic {
        background: url(../../../assets/images/cosmetic.jpg) 100% 50% no-repeat;
        background-size: contain;
        background-color: #fdfcfd;
    }
    &-cardholder {
        background: url(../../../assets/images/cardholder.jpg) 100% 50% no-repeat;
        background-size: contain;
        background-color: #fdfcfd;
    }
    &-charm {
        background: url(../../../assets/images/charm.jpg) 100% 50% no-repeat;
        background-size: contain;
        background-color: #fffcf7;
    }
    &-belt {
        background: url(../../../assets/images/cross.jpg) 100% 50% no-repeat;
        background-size: contain;
        background-color: #f9f9f9;
    }
    &-bracelet {
        background: url(../../../assets/images/bracelet.jpg) 100% 50% no-repeat;
        background-size: contain;
        background-color: #f6f7f9;
    }
}

.body-flex {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.side-list {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    padding: 30px 20px 20px 0;
    max-width: 220px;
    height: max-content;
    h4 {
        padding: 10px 15px;
        text-transform: uppercase;
        background: rgba(218, 218, 218, 0.23);
    }
    ul {
        margin-bottom: 30px;
        li {
            border-bottom: 1px solid rgb(228, 228, 228);
            padding: 10px 15px;
            color: #999;
            font: 14px sans-serif;
        }
    }
    a:hover,
    a.active {
        color: crimson;
    }
}

.right-list {
    width: 80%;
    display: inline-block;
}