@import url(http://fonts.googleapis.com/css?family=Dancing+Script|Great+Vibes|Kaushan+Script);
$font-stack: 'Great Vibes',
cursive;
section {
    position: relative;
}

.strong {
    color: crimson;
    font-weight: 600;
}

.small {
    font-size: .9em;
    color: #888;
}

.flex {
    display: flex;
}

.banner {
    ul {
        counter-reset: step;
        max-width: 90%;
        margin: 2em auto 1em;
        display: flex;
        position: relative;
        list-style: none;
    }
    h3 {
        text-transform: uppercase;
        margin: 3rem auto 0;
        text-align: center;
        font-size: 1.7rem;
        letter-spacing: 2px;
        color: #6b6b6b;
    }
    .step {
        flex: 1;
        counter-increment: step;
        padding-top: calc(40px + 1rem);
        /*40px is for the circle*/
        text-align: center;
        position: relative;
        cursor: pointer;
        background-image: linear-gradient(to bottom, transparent calc(20px - 2px), currentColor 0, currentColor calc(20px + 2px), transparent 0);
        &::before {
            display: flex;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #4c000e;
            content: counter(step);
            position: absolute;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 1.5rem;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &:last-child,
        &:first-child {
            background-size: 50% 100%;
            background-repeat: no-repeat;
        }
        &:first-child {
            background-position: 100% 0;
        }
        &.active {
            color: crimson;
        }
        &.active::before {
            background: crimson;
        }
        &.completed::before {
            content: '✓';
        }
    }
}

.mobile {
    .banner {
        ul {
            max-width: 100%;
        }
        h3 {
            margin-top: 1.5rem;
            font-size: .9rem;
        }
        .step::before {
            width: 30px;
            height: 30px;
            font-size: 1.2rem;
            top: 5px;
        }
    }
}

.header {
    width: 100%;
    margin: 1em auto;
    max-width: 980px;
    p {
        line-height: 1.5;
        margin-top: 10px;
    }
}

.body {
    min-height: 30vh;
    h2 {
        font-family: $font-stack;
        font-size: 3.5rem;
        margin-bottom: 5px;
        color: crimson;
    }
    p {
        line-height: 1.5;
    }
    h4 {
        margin-top: 10px;
    }
}

.body-pc {
    .flex {
        flex-wrap: wrap;
    }
    margin: 2em 0 0;
    box-shadow: 0px 0px 8px 2px #e8e8e8;
    padding: 2em;
    .total {
        margin: 0;
        border: none !important;
        justify-content: flex-end;
        div {
            min-width: 110px;
        }
        span {
            display: block;
        }
    }
}

.body-mobile {
    padding: 1rem 0;
    .flex {
        flex-wrap: nowrap;
    }
    p {
        font-size: 0.8rem;
        color: #6b6b6b;
    }
    h4 {
        font-size: 1rem;
    }
    .order {
        &-summary {
            justify-content: space-between;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            padding: 1rem 0;
            margin-bottom: 1rem;
            p {
                min-width: 110px;
                line-height: 2;
            }
        }
        .order-info {
            display: flex;
            line-height: 2;
            font-size: .9em;
        }
        .total {
            justify-content: space-between;
            border-bottom: 1px solid #eee;
            padding: 1rem 0;
        }
        .cart {
            border-bottom: 1px solid #eee;
            padding-bottom: 1rem;
            img {
                max-width: 5rem;
            }
            .flex {
                border-bottom: 1px solid #eee;
                align-items: center;
                &:last-child {
                    border: none;
                }
                div {
                    padding-right: 10px;
                    position: relative;
                    &:last-child {
                        padding: 0;
                        min-width: 2rem;
                    }
                }
            }
        }
    }
}

.info-right {
    margin-bottom: -50px;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    .flex {
        margin: 0px auto;
        justify-content: space-between;
        flex-wrap: nowrap;
        border-top: 1px solid #ddd;
        &:first-child {
            padding-top: 1em;
            padding-bottom: 1em;
            align-items: baseline;
        }
        &:nth-child(2) {
            border-bottom: 1px solid #ddd;
        }
        .half {
            width: 70%;
            &:last-child {
                background: #f9f9f9;
                padding: 1rem;
                max-width: 230px;
            }
        }
        p {
            margin-bottom: 5px;
            font-size: .9rem;
        }
        span {
            line-height: 1.5;
        }
        .full {
            width: 50%;
        }
        .bg {
            color: crimson;
        }
    }
}

.flex-half {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: .2rem 0;
    &:last-child {
        border: none;
    }
    .four {
        align-items: center;
        min-width: 100px;
        &:first-child {
            min-width: 50px;
            max-width: 100px;
            img {
                width: 100%;
            }
        }
        &:nth-child(2) {
            margin-left: 2%;
            margin-right: 5%;
            min-width: 170px;
        }
        &:nth-child(3) {
            max-width: 70px;
        }
        span {
            display: block;
        }
        p {
            text-transform: capitalize;
        }
    }
}

.order-info {
    display: flex;
    span {
        display: inline-block;
        vertical-align: top;
        &:first-child {
            min-width: 140px;
            margin-right: 10px;
            text-align: right;
        }
    }
}

.full-flex {
    display: flex;
    .half {
        max-width: unset;
        border: none;
        padding: 0;
    }
}

.del {
    text-decoration: line-through;
    color: #888;
}

.crimson {
    background-color: crimson !important;
}

.logo {
    max-width: 150px;
}

.nextBtn {
    margin: 20px 5px 0;
    padding: 12px 18px !important;
    border-radius: 34px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    background-color: #555;
    font-size: .9rem;
    cursor: pointer;
}

.flex-center {
    justify-content: center
}

.modal {
    width: 100%;
    height: 100%;
    background: #333333a6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.modal-body {
    max-width: 540px;
    position: absolute;
    background: white;
    width: 80%;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    padding: 3rem;
    h3 {
        font-size: 2rem;
        padding-bottom: 5px;
        margin-bottom: 25px;
        color: #333;
        text-align: center;
    }
}

.form {
    padding: 0;
    display: block;
    margin: 0 auto;
    >div {
        margin: 20px 0;
    }
    label {
        font-size: .9rem;
        ;
    }
    input {
        width: 100%;
        border: none;
        font-size: 1rem;
        border-bottom: 1px solid #ccc;
    }
    p {
        margin: 5px 0 10px;
        background: #f3f3f3;
        padding: 8px 10px;
    }
}

.radio {
    margin-bottom: 10px;
    margin-left: 10px;
    input[type="radio"] {
        position: absolute;
        opacity: 0;
        +.radio-label {
            &:before {
                content: '';
                background: #f4f4f4;
                border-radius: 100%;
                border: 1px solid #b4b4b4;
                display: inline-block;
                width: 1em;
                height: 1em;
                position: relative;
                top: 0;
                margin-right: 7px;
                vertical-align: top;
                cursor: pointer;
                text-align: center;
                transition: all 250ms ease;
            }
        }
        &:checked {
            +.radio-label {
                &:before {
                    background-color: crimson;
                    box-shadow: inset 0 0 0 2px #f3f3f3;
                }
            }
        }
    }
}

.print {
    p,
    span {
        font-size: 12px !important;
    }
    .body {
        margin: 0;
        box-shadow: none;
        padding: 0 2em;
    }
    .banner,
    .nextBtn {
        display: none;
    }
    .container {
        .flex {
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: baseline;
            &:nth-child(2) {
                border-bottom: none;
            }
            .half {
                width: 100%;
            }
        }
    }
    .flex-half {
        border-bottom: 1px solid #ddd;
    }
    app-footer {
        font-size: 12px;
    }
}

.mobile {
    .modal-body {
        height: 100%;
        top: 0;
        h3 {
            font-size: 1.5rem;
        }
    }
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid crimson;
    top: 20%;
    left: calc(50% - 15px);
    animation: loader 2s infinite ease;
    &-overlay {
        width: 100%;
        height: 80vh;
        opacity: 1;
        transition: all .5s;
        &.hidden {
            height: 0;
            opacity: 0;
        }
    }
    &-inner {
        vertical-align: top;
        display: inline-block;
        width: 100%;
        background-color: crimson;
        animation: loader-inner 2s infinite ease-in;
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}