.crimson {
    color: crimson !important;
}

.head-mobile {
    position: relative;
    padding: .8rem 1rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 1px 0px #eee;
    >div {
        width: 33.33%;
    }
    img {
        max-width: 28vw;
    }
}

.head-mobile-left {
    display: flex;
    .burger {
        width: 30px;
        height: 24px;
        position: relative;
        span {
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            background: crimson;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            &:nth-child(1) {
                top: 0px;
            }
            &:nth-child(2) {
                top: 10px;
            }
            &:nth-child(3) {
                top: 20px;
            }
        }
    }
    .head {
        padding-top: 3px;
    }
}

.head-mobile-right {
    display: flex;
    justify-content: flex-end;
    margin-top: 2px;
    .head {
        padding-left: 1.25rem;
    }
    a {
        color: #999;
        text-align: center;
        padding-top: 4px;
        vertical-align: middle;
        font-size: 1rem;
        .fa-user {
            font-size: 1.2rem;
        }
        .fa-search {
            font-size: 1.15rem;
        }
    }
    .head-cart {
        position: relative;
        .crimson {
            margin-right: .5rem;
        }
        span {
            position: absolute;
            top: 4px;
            left: 2.5rem;
            color: crimson;
            font-size: 0.8rem;
        }
    }
}

.dropdown {
    position: absolute;
    width: 100%;
    background: #fff;
    top: 100%;
    left: 0;
    z-index: 11;
    box-shadow: 0px 1px 2px 0px #ccc;
    form {
        padding: 1rem 1rem 1.5rem;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        input[type="text"] {
            height: 20px;
            display: inline-block;
            border: none;
            outline: none;
            color: #555;
            padding: 3px 2rem 3px 3px;
            margin-right: 1rem;
            background: none;
            transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
            width: 65%;
            z-index: 1;
            border-bottom: 1px solid #ddd;
        }
        input[type="text"]:focus {
            border-bottom: 1px solid crimson;
        }
        button {
            height: 20px;
            width: 20px;
            display: inline-block;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
            background-size: cover;
            text-indent: -10000px;
            border: none;
            opacity: 0.8;
            cursor: pointer;
            z-index: 3;
        }
    }
}