<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-09-23 12:53:45
 * @LastEditTime: 2019-10-25 11:14:55
 * @LastEditors: Please set LastEditors
 -->
<div class="head-mobile">
    <div class="head-mobile-left" (click)="openSideNav=!openSideNav;toggleSideMenu()">
        <div class="burger">
            <fa-icon [icon]="faBars"></fa-icon>
        </div>
    </div>
    <div class="text-center">
        <a [routerLink]="[ 'home' ]"><img src="assets/images/logo.png" alt=" "></a>
    </div>
    <div class="head-mobile-right">
        <div class="head head-search ">
            <a>
                <fa-icon [icon]="faSearch" (click)="initializeForm();"></fa-icon>
            </a>
            <div class="dropdown" *ngIf="openSearch">
                <form (keydown)="searchKey($event, searchItem.value)" [formGroup]="searchForm">
                    <input name="search" formControlName="searchName" type="text" placeholder="Search" #searchItem required>
                    <button (click)="searchBtn($event, searchItem.value)"></button>
                </form>
            </div>
        </div>
        <div class="head head-login">
            <a [routerLink]="[ '/en/register']" *ngIf="!logined">
                <fa-icon [icon]="faUser"></fa-icon>
            </a>
            <a [routerLink]="[ '/en/myEnjoybag']" *ngIf="logined" [ngClass]="{'crimson': logined}">
                <fa-icon [icon]="faUser"></fa-icon>
            </a>
        </div>
        <div class="head head-cart">
            <a [ngClass]="{'crimson': cartNum>0}" [routerLink]="[ '/en/checkout/shopping-bag']">
                <fa-icon [icon]="faShoppingBag"></fa-icon>
                <span *ngIf="cartNum>0">{{cartNum}}</span>
            </a>
        </div>
    </div>
</div>