<div class="terms-content">
    <h3 class="text-center">會員制度</h3>
    <br>
    <div class="single-term">
        <h4>View More Membership Details</h4>
        <div class="single-question">
            <span>Customer will automatically become our basic member after register at our
        website. Your phone number will become membership number and reference for tracking orders.
      </span>
            <br /><br />
            <span>Member who purchase over HK$5,000 (accumulated) within one year, will
        become our Prestige member and enjoy following benefits:</span>
            <br /> -
            <span>10% off for all regular priced products</span><br /> -
            <span>20% off for all regular priced products and receive a premium gift upon
        purchase at birthday month</span>
            <br /><br />
            <span>Member who purchase over HK$10,000 (accumulated) within one year, will
        become our Platinum member and enjoy following benefits:</span>
            <br /> -
            <span>15% off for all regular priced products</span><br /> -
            <span>25% off for all regular priced products and receive a premium gift upon
        purchase at birthday month</span>
            <br /><br />
            <span>Pre-order our new arrival products</span><br /><br />
        </div>
    </div>
</div>