<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-05 14:52:15
 * @LastEditTime: 2019-08-28 15:56:36
 * @LastEditors: Please set LastEditors
 -->
<div class="flex">
    <section [ngClass]="{'full': class==='register'}">
        <ng-container *ngIf="!logined">
            <h3>Sign In</h3>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <fieldset>
                    <div class="forms_field">
                        <label for="email">Email *</label>
                        <input formControlName="email" type="text"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" autocomplete="on" />
                        <div *ngIf="submitted && f.email.errors" class="invalid_feedback">
                            <div *ngIf="f.email.errors.required">email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="forms_field">
                        <label for="password">Password ( Case-Sensitive ) *</label>
                        <input formControlName="password" type="password"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid_feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                </fieldset>
                <div class="forms_buttons">
                    <button type="button">Forgot password?</button>
                    <button type="submit" [disabled]="loading"
                        [ngClass]="{'disabled': f.email.errors||f.password.errors}">
                        <span> Sign in </span>
                        <div class="loader" *ngIf="loading">
                            <span></span><span></span><span></span><span></span><span></span>
                        </div>
                    </button>
                </div>
                <fieldset *ngIf="failed">
                    <span class="failed">Login failed! {{error}}</span>
                </fieldset>
                <fieldset>
                    <hr>
                    <button class="loginBtn loginBtn_facebook" (click)="socialSignIn('facebook')"> Login with
                        Facebook</button>
                </fieldset>
            </form>
        </ng-container>
        <ng-container *ngIf="logined">
            <h3>Hello, {{user.firstname}}</h3>
            <fieldset class="logined">
                <div>
                    <label> My cart:</label>
                    <span> <a [routerLink]="['checkout/shopping-bag']"> {{cartNum}} items</a></span>
                </div>
                <div>
                    <label>Orders:</label>
                    <span> <a [routerLink]="['myEnjoybag', user.id, 'order-history']">{{user.orders.length}}
                            Orders</a></span>
                </div>
                <div>
                    <label> Account details:</label>
                    <span> <a [routerLink]="['myEnjoybag']">View</a> </span>
                </div>
            </fieldset>
            <div class="forms_buttons">
                <button> </button>
                <button (click)="logout()">Log Out</button>
            </div>
        </ng-container>
    </section>
    <section [ngClass]="{'hide-all': class==='register'}" class="right">
        <fieldset *ngIf="!logined">
            <div>
                <h3> Don't have an account? </h3>
                <p>Sign up and subscribe our newsletter to get a HKD 200.00 welcome voucher!!</p>
                <a class="btn-link" [routerLink]="['register']">Register</a>
            </div>
        </fieldset>
        <fieldset *ngIf="logined">
            <h3> What is your favourite bag? </h3>
            <p>Sign up and subscribe our newsletter to get a HKD 200.00 welcome voucher!!</p>
        </fieldset>
    </section>
</div>