<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-05 14:52:15
 * @LastEditTime: 2019-10-10 17:20:42
 * @LastEditors: Please set LastEditors
 -->

<div *ngIf="!isMobile">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>
<div *ngIf="isMobile">
    <app-header-mobile-sidenav></app-header-mobile-sidenav>
    <div [ngClass]="{'fixed': isMobile&&sideMenuStatus}">
        <app-header-mobile></app-header-mobile>
        <div class="body">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
</div>