<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-05 14:52:15
 * @LastEditTime: 2019-11-04 17:03:56
 * @LastEditors: Please set LastEditors
 -->
<footer class="flex-rw" [ngClass]="{'mobile': isMobile}">
    <ul class="footer-list-top">
        <li>
            <h4 class="footer-list-header">About Us</h4>
        </li>
        <li><a [routerLink]="[ 'brand/about-us' ]" class="footer-list-anchor">About Enjoybag HK</a></li>
        <li><a [routerLink]="[ 'brand/events' ]" class="footer-list-anchor">Get to Know EJ</a></li>
        <!-- <li><a [routerLink]="[ 'brand/our-philosophy' ]" class="footer-list-anchor">Our Philosophy</a></li> -->
    </ul>
    <ul class="footer-list-top">
        <li>
            <h4 class="footer-list-header">Join Our Newsletter</h4>
        </li>
        <li>
            <a class="footer-list-anchor">Be the first to get early access to our newest collections!</a>
        </li>
        <li>
            <input type="text">
            <button>Submit</button>
        </li>
    </ul>
    <ul class="footer-list-top">
        <li>
            <h4 class="footer-list-header">Please Help Me</h4>
        </li>
        <li><a [routerLink]="[ 'FAQ']" fragment="Contact" class="footer-list-anchor">Contact Us</a></li>
        <li><a [routerLink]="[ 'FAQ/privacy-policy']" class="footer-list-anchor">Privacy Policy</a></li>
        <li><a [routerLink]="[ 'FAQ/delivery']" class="footer-list-anchor">Delivery &amp; Return</a></li>
    </ul>
    <section class="footer-bottom-section flex-rw">
        <div class="footer-bottom-wrapper">
            <i class="fa fa-copyright" role="copyright"></i><span> Enjoybag HK 2020 - All Rights Reserved</span>
        </div>
        <div class="footer-bottom-wrapper">
            <a href="https://www.facebook.com/enjoybaghk" target="_blank" title="Facebook">
                <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
            <a href="https://www.instagram.com/enjoy_handbaghk/" target="_blank" title="Instagram">
                <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
        </div>
    </section>
</footer>