.flex-rw {
    display: flex;
    flex-flow: row wrap;
}

footer {
    width: 100%;
    background: #333;
    box-shadow: 1px 0px 1px 1px #e8e8e8;
    color: #fff;
}

.footer-list-top {
    width: 33.333%;
    // background: #fdfcfc;
    padding: 1.5rem 0;

    li {
        text-align: center;
        padding: 10px 0;

        a {
            color: #fff;
        }
    }

    input {
        border: none;
        line-height: 2;
    }

    button {
        border: none;
        background: crimson;
        color: #fff;
        line-height: 2;
    }
}

.footer-list-header {
    padding: 10px 10px 6px;
    font-size: 1.2em;
    display: inline-block;
    border-bottom: 1px dotted #8a8a8a;
}

.footer-list-anchor,
.footer-bottom-wrapper {
    font-size: .85em;
}

.footer-bottom-section {
    border-top: 1px solid #f9f9f9;
    width: 100%;
    max-width: 1530px;
    padding: 1rem;
    margin: 0 auto;
    color: #fff;
    justify-content: space-between;

    a {
        color: #fff;
        margin-left: 1.5rem;
        font-size: 1rem;

        fa-icon {
            font-size: 1.2em;
        }
    }
}

.mobile {
    .footer-list-top {
        width: 100%;
        border-bottom: 1px solid #eee;
        padding: 1rem 0;
    }
}