<div class="terms-content">
    <h3 class="text-center">Product Care</h3>
    <br>
    <div class="single-term">
        <h4>View more product care details </h4>
        <div class="single-question">
            <span>Keep your leather goods in dust bags when they are not in use, as to prevent damage caused by contact with
        other materials. </span><br><br>
            <span>Keep leather away from water, oil, makeup products, and permanent dyes, as to prevent discoloration or
        stain. </span><br><br>
            <span>When leather gets wet, wipe it with a dry cloth and put it dry in area without
        sunlight. </span><br><br>
            <span>Colors of leather might be transferred by frictions. Please be careful when you wear light-colored clothes.
      </span><br><br>
            <span>Please take extra care with light-colored leather goods as they are more easily stained. </span><br><br>
            <span>Please do not bring leather into close contact with P.V.C. or other leather products for long
        period of time, as to prevent discoloration. Please use appropriate leather cleaning products when you clean
        it. </span><br><br>
            <span>For stains on brushed and suede leather, please use rubber cement eraser for clean up. </span><br><br>
            <span>Our materials are not water-resistant unless specified on label. </span><br>
        </div>
    </div>
</div>