section {
    position: relative;
    margin: 0 auto;
    max-width: 1530px;
    padding: 0 20px 50px;
    min-height: 80vh;
    overflow-x: hidden;
    ul {
        counter-reset: step;
        max-width: 90%;
        margin: 50px auto 20px;
        display: flex;
        position: relative;
        list-style: none;
    }
}

.crimson {
    background: crimson !important;
}

.strong {
    color: crimson
}

.uppercase {
    text-transform: uppercase;
}

.small {
    font-size: .8rem !important;
}

.banner {
    h3 {
        text-transform: uppercase;
        margin: 3rem auto 0;
        text-align: center;
        font-size: 1.7rem;
        letter-spacing: 2px;
        color: #6b6b6b;
    }
}

.step {
    flex: 1;
    counter-increment: step;
    padding-top: calc(40px + 1rem);
    /*40px is for the circle*/
    text-align: center;
    position: relative;
    cursor: pointer;
    background-image: linear-gradient(to bottom, transparent calc(20px - 2px), currentColor 0, currentColor calc(20px + 2px), transparent 0);
    &::before {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #4c000e;
        content: counter(step);
        position: absolute;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.5rem;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &:last-child,
    &:first-child {
        background-size: 50% 100%;
        background-repeat: no-repeat;
    }
    &:first-child {
        background-position: 100% 0;
    }
    &.active {
        color: crimson;
    }
    &.active::before {
        background: crimson;
    }
    &.completed::before {
        content: '✓';
    }
}

.body {
    margin: 4rem 0 0;
    box-shadow: 0px 0px 8px 2px #e8e8e8;
    padding: 2rem 4rem;
    &-flex {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 2rem 4rem;
        h3 {
            text-transform: uppercase;
            font-size: 1.4rem;
            margin-bottom: 15px;
            padding-bottom: 5px;
            border-bottom: 1px solid #d9d9d9;
        }
    }
    &-left {
        width: 60%;
        padding-right: 5%;
        position: relative;
        min-height: 50vh;
    }
    &-right {
        width: 29%;
        padding: 6px 3%;
        background: #f9f9f9;
        a {
            color: crimson;
            text-decoration: underline;
        }
        h3 {
            font-size: 1rem;
            position: relative;
            a {
                position: absolute;
                right: 0;
                text-decoration: none;
                text-transform: capitalize;
                font-size: .85rem;
                bottom: 5px;
            }
        }
    }
    label {
        font-size: .9rem;
    }
}

.form {
    fieldset {
        padding: 0;
        display: block;
        margin: 0 auto;
        label {
            margin-bottom: 2px !important;
            color: #333;
            display: block;
            margin-top: 10px;
        }
        .no-margin {
            margin: 0;
        }
        input {
            font-size: .9rem;
            font-weight: 300;
            width: 100%;
            padding: 5px 0;
            text-indent: 5px;
            letter-spacing: .1rem;
            border: none;
            background: rgba(243, 243, 243, 0.54);
            border-bottom: 1px solid #ddd;
            &.ng-invalid {
                border-bottom: 1px solid crimson;
            }
        }
        div {
            p {
                margin: 5px 0 30px;
            }
        }
    }
}

.container {
    max-width: 750px;
    margin: 10px auto;
    .nextBtn {
        border: 0;
        color: #fff;
        cursor: pointer;
    }
}

.field-full {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div {
        width: 100%;
        margin-top: 8px;
        label {
            margin-top: 0;
        }
    }
    .half {
        width: 48%;
        text-align: left
    }
}

.radio {
    margin-bottom: 10px;
    input[type="radio"] {
        position: absolute;
        opacity: 0;
        +.radio-label {
            &:before {
                content: '';
                background: #f4f4f4;
                border-radius: 100%;
                border: 1px solid darken(#f4f4f4, 25%);
                display: inline-block;
                width: 1em;
                height: 1em;
                position: relative;
                top: -1px;
                margin-right: 10px;
                vertical-align: top;
                cursor: pointer;
                text-align: center;
                transition: all 250ms ease;
            }
        }
        &:checked {
            +.radio-label {
                &:before {
                    background-color: crimson;
                    box-shadow: inset 0 0 0 4px #f4f4f4;
                }
            }
        }
        &:focus {
            +.radio-label {
                &:before {
                    outline: none;
                    border-color: crimson;
                }
            }
        }
        +.radio-label {
            &:empty {
                &:before {
                    margin-right: 0;
                }
            }
            a {
                text-decoration: underline;
                color: crimson;
            }
        }
    }
    p {
        margin: 5px 0 0 26px;
        background: #f9f9f9;
        padding: 8px 10px;
        line-height: 1.45;
        color: #888;
    }
}

.styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
    &+label {
        position: relative;
        cursor: pointer;
        padding: 0 0 0 30px;
        line-height: 1.2;
    }
    // Box.
    &+label:before {
        content: '';
        margin: 1px 8px 0 -30px;
        display: inline-block;
        vertical-align: text-top;
        width: 14px;
        height: 14px;
        background: white;
        border: 1px solid #888;
        border-radius: 50%;
        transition: all .3s;
    }
    // Box hover
    &:hover+label:before,
    &:checked+label:before {
        background: crimson;
        border-color: crimson;
    }
    // Checkmark. Could be replaced with an image
    &:checked+label:after {
        content: '';
        position: absolute;
        left: 3px;
        top: 8px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        transform: rotate(45deg);
    }
}

.mobile_box {
    width: 100%;
    display: flex;
    align-items: center;
    span {
        display: inline-block;
        margin-right: 5px;
        color: #888;
    }
}

.area_code {
    display: inline-block;
    width: 80px !important;
    margin-right: 5px;
}

.nextBtn {
    font-size: 1rem !important;
    background-color: crimson !important;
    padding: 12px 18px !important;
    border-radius: 34px;
    display: inline-block;
    text-transform: uppercase;
    &.fade {
        opacity: .6;
        cursor: not-allowed !important;
    }
}

.paypal-btn {
    margin: 5px 0 0 26px;
    background: #f9f9f9;
    padding: 20px;
    margin-top: -10px;
    text-align: center;
    position: relative;
    span {
        line-height: 1.5;
        color: crimson;
    }
}

.bag {
    display: flex;
    justify-content: space-between;
    div {
        padding: 0 0 0 5px;
        line-height: 1.2;
        text-align: right;
        p {
            margin: 3px 0;
            color: #888;
        }
    }
    &:first-child {
        padding-top: 0;
    }
    img {
        width: 85px;
    }
}

.flex-tb {
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
}

.loader {
    height: 50px;
    left: 50%;
    margin: -25px 0 0 -75px;
    position: absolute;
    top: 50%;
    width: 150px;
    .bar {
        background-color: crimson;
        font-size: 0;
        height: 10px;
        opacity: 0;
        border-radius: 100%;
        width: 10px;
        animation-duration: 1.5s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-name: subtleIn;
        animation-timing-function: ease-in-out;
        display: inline-block;
        margin: 0 5px;
        &:nth-child(1) {
            animation-delay: 0s;
        }
        &:nth-child(2) {
            animation-delay: .2s;
        }
        &:nth-child(3) {
            animation-delay: .4s;
        }
        &:nth-child(4) {
            animation-delay: .6s;
        }
        &:nth-child(5) {
            animation-delay: .8s;
        }
    }
}

@keyframes subtleIn {
    0% {
        opacity: 0;
        transform: translateY(300%);
    }
    30% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {}
}