<div class="terms-content">
    <h3 class="text-center">Terms &amp; Conditions</h3>
    <br>
    <div class="single-term">
        <h4>View More Terms and Conditions</h4>
        <div class="single-question">
            <span>Welcome for visiting the website (the "Site") of Enjoy Bag (HK) Limited.
        ("ENJOY!"). Access to and use of the Site and related services (collectively, the
        "Services") are made
        available to you in accordance with the following Terms and Conditions and any other rules
        posted on the
        Site. By using the Services, such as placing orders on the Site, you are agreeing to all of
        the Terms Of
        Service. ENJOY! is a company registered in Hong Kong SAR. Our registered and correspondence
        address is
        Room
        3308, 33/F., Cable TV Tower, 9 Hoi Shing Road, Tsuen Wan, N.T., Hong Kong. ENJOY! reserves
        the right to
        make changes to the Site, related policies and agreements, the Privacy Policy and this terms
        and
        conditions
        at any time. You are advised to check the Site from time to time to check the update or
        changes to the
        said
        policies and agreements, the Privacy Policy and the Terms and Conditions.</span><br><br>
            <b>REGISTRATION</b><br>
            <span>You will need to register an account to use some of the Services available to
        you
        on the Site. In registering an account you agree to provide information about yourself that
        is true,
        accurate, current, and complete in all respects. Please refer to our Privacy Policy for more
        information
        on
        how we use your personal data. If you are under 18, you must let your parents or guardian
        know about
        ENJOY!
        Privacy Policy before you register to use the Site and the Services. ENJOY! reserves the
        right to only
        accept orders from you if you are aged 18 or over.</span><br><br>

            <span>In using the Site, you agree to accept responsibility for all activities
        conducted through your account. You are responsible for keeping your account and password
        secure. If you
        feel or suspect that the security of your account has been compromised or if there is
        unauthorised use of
        your account, please contact us immediately.</span><br><br>

            <b>PROHIBITIONS AND FAILURE TO COMPLY</b><br>
            <span>We may take actions against your account for activities including, but not
        limited to:</span>
            <br> - <span>Using any technology to attempt to hide the use of multiple accounts or
        disrupt any of our Services in any way</span><br> - <span>Initiating
        communications
        that contain any unlawful, harmful, threatening, abusive, harassing, defamatory, vulgar,
        obscene,
        profane, hateful, or racially, ethnically or otherwise objectionable material</span><br> -
            <span>Advertising
        or sending unsolicited messages of any kind</span><br> - <span>Impersonating
        others or providing any kind of false information</span><br><br>


            <span>ENJOY! reserves the right to terminate any account at its sole discretion. We
        may send you an email to inform you of the termination of your account in such
        event.</span><br><br>
            <b>NO COMMERCIAL USE</b><br>
            <span>You cannot copy, distribute, transmit, display, perform, reproduce, publish,
        license, commercially exploit, create derivative works from, transfer, or sell any Content,
        software,
        products, or services contained within this Site. You cannot use this Site, or any of its
        Content, to
        further any commercial purpose, including, but not limited to, any advertising or
        advertising revenue
        generation activity on your own Site.</span><br><br>

            <b>ELIGIBILITY TO PURCHASE</b><br>

            <span>In order to place orders with us, you must meet our conditions of
        eligibility:</span><br> - <span>Be in possession of a valid credit/debit card issued by a
        licensed bank acceptable to ENJOY! for payment or be in possession of a valid PayPal account, unless you
        have opted to pay in cash on delivery</span><br> - <span>Providing personal and payment
        details that are warranted by you to be both valid and accurate (email address, real name,
        phone number, billing information and other requested information as indicated on the Site)</span><br> -
            <span>All
        orders are subject to stock availability and confirmation of the order price. Items in your
        shopping basket are not reserved and may be purchased by other customers.</span><br><br>

            <span>PRODUCT DESCRIPTION and PRICING</span><br>

            <span>ENJOY! will ensure that the Content and the product descriptions on the Site
        to be accurate and complete as possible. We however do not warrant that Content and product
        descriptions are
        accurate, complete, current or error-free. Pictures of the products on the site are for
        reference. You
        will not be entitled to return a product simply because it does not correspond exactly to its
        on-line picture.</span><br>
            <span>Please contact our customer service if you feel a product offered by ENJOY! is
        not as described.</span><br><br>
            <span>Prices are shown on the Site in Hong Kong Dollars (HKD)/Renminbi (RMB)/United
        States Dollars(USD). Prices displayed on the Site at the time your order is accepted will be
        honored except in the case of obvious error. Whilst we use our best to ensure that all prices appearing on
        the Site are accurate, we do not guarantee that they are error-free and reserve our right to rectify any
        errors. If we discover an error in the price of any products that you have ordered, we will inform you as
        soon as possible and offer you the option of reconfirming or cancelling your order. If we are unable
        to contact you, we will treat the order as cancelled.</span><br><br>
            <b>THIRD PARTY LINKS</b><br>
            <span>The Site may include links to other websites or resources that are not
        operated
        or prepared by ENJOY!. We have no control over such sites and resources and we will not
        accept
        responsibility for them or be liable for any loss or damage caused or alleged to be caused
        by or in
        connection with your use of them. ENJOY! is not responsible for the content or accuracy of
        any off-Site
        pages, which include but is not limited to advertisers of the Site. Use of these external
        websites or
        resources will be at your own risk and subject to the terms of use and service contained
        within each of
        such sites.</span><br><br>

            <b>LIABILITY</b><br>
            <span>ENJOY! does not guarantee that the use of the Site and Services will be
        error-free or that the Site or the servers that make it available are free of viruses or
        other harmful components. We recommend all users of the Site to ensure they have up-to-date software,
        including anti-virus, installed. Some events may happen beyond our reasonable control, such as adverse
        weather.
        Under such conditions, ENJOY! will always do its best to aim at maintaining its Services but will
        not be
        responsible for failing to meet any obligations in this Terms and Conditions.</span><br><br>

            <span>You agree ENJOY! is not responsible for losses not caused by our breach or
        negligence, and indirect losses which are side effects of the main loss or damage and which
        are not
        reasonably foreseeable by you and us. This includes the use of the Site by any other persons
        using your
        account caused by your action or inaction.</span><br><br>
            <b>GOVERNING LAW AND JURISDICTION</b><br>
            <span>The Terms and Conditions, together with all our policies and procedures, are
        governed by and construed in accordance with Hong Kong SAR law. The relevant courts of Hong
        Kong SAR will
        have exclusive jurisdiction in the event of any dispute or claim associated with these Terms
        and
        Conditions.</span><br><br>
        </div>
    </div>
</div>