/* You can add global styles to this file, and also import other style files */

@import 'reset-css';
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

@mixin transform($value) {
    -webkit-transform: ($value);
    -moz-transform: ($value);
    -ms-transform: ($value);
    transform: ($value);
}

@mixin transition($value) {
    -webkit-transition: ($value);
    -moz-transition: ($value);
    -ms-transition: ($value);
    transition: ($value);
}

a {
    text-decoration: none;
    color: #333;
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right;
}

*[hidden] {
    display: none !important;
}

.cdk-overlay-container {
    // position: absolute;
    // top: 40%;
    // left: 50%;
    // transform: translate(-50%);
    // background: #fff;
    // box-shadow: 1px 2px 3px 1px #ccc;
    position: fixed;
    top: 0;
    width: 100vw;
    left: 0;
    height: 100vh;
    z-index: 9999;
    pointer-events: none;
}

.cdk-overlay-backdrop {
    width: 100%;
    height: 100%;
    background: rgba(25, 25, 25, 0.2);
    position: absolute;
    top: 0;
    left: 0;
}

.cdk-global-overlay-wrapper {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    background: white;
    left: 50%;
    transform: translate(-50%);
}