<div class="footer text-center" [ngClass]="{'mobile': isMobile}">
    <h3>Need Help ?</h3>
    <div class="footer-box">
        <p>For any further infos, please contact our friendly Customer Service team <br> - remember we'll need your order number.
        </p>
        <div class="flex">
            <div>
                <p class="icon"><i class="fa fa-envelope"></i> <span>Email</span></p>
                <p><a href="mailto:customer@enjoybag.com.hk">Click here</a> to send us an email.</p>
            </div>
            <div>
                <p class="icon"><i class="fa fa-phone"></i> <span>Phone</span></p>
                <p>+852 3572 8158</p>
            </div>
            <div>
                <p class="icon"><i class="fa fa-question"></i> <span>FAQ</span></p>
                <p>Find the answers you need in our <a [routerLink]="[ '/en/FAQ']">FAQs</a>.</p>
            </div>
        </div>
    </div>
</div>