section {
    position: relative;
    margin: 0 auto;
    max-width: 1530px;
    padding: 0 20px 40px;
    .banner {
        width: 100%;
        height: 220px;
        text-align: center;
        position: relative;
        background: url(../../../assets/images/backpack.jpg) 50% 45%;
        background-size: cover;
    }
    h2 {
        font-size: 3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        margin: 0;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        color: #fff;
        text-shadow: 1px 1px 1px #999;
        font-family: 'Josefin Sans', sans-serif;
    }
}

.terms-body {
    margin-top: 30px;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.terms-topic {
    padding: 20px 0;
    text-align: center;
    .flex {
        flex-wrap: wrap;
        justify-content: center;
    }
    a {
        font-size: 1.3rem;
        position: relative;
        padding: 25px 0;
        cursor: pointer;
        display: inline-block;
        width: 20%;
        margin: 10px;
        box-shadow: 0px 1px 1px 2px #f1f1f1;
        border-radius: 40px;
        font-family: serif;
        font-weight: 600;
        background: #fcfcfc;
        &.is-active {
            background: crimson;
            color: #fff;
        }
    }
}

.terms-content {
    padding: 50px 20px;
    background: #fcfcfc;
    margin-top: 20px;
    h4 {
        font-size: 1.3rem;
        padding: 15px 30px;
        position: relative;
        cursor: pointer;
        font-family: serif;
        font-weight: 600;
        background: #fff;
        &:after,
        &:before {
            position: absolute;
            content: "";
            width: 14px;
            height: 2px;
            background-color: crimson;
            right: 30px;
            top: 50%;
            transition: all .3s ease;
            margin-top: -2px;
        }
        &:before {
            transform: rotate(90deg);
        }
    }
}

.flex {
    display: flex;
}

.single-term {
    max-width: 900px;
    margin: 0 auto 20px;
    box-shadow: 1px 1px 1px 0px #ddd;
    background: #fff;
}

.single-question {
    padding: 20px 2rem;
    border-top: 1px solid #ddd;
    span,
    table {
        font-size: .9em;
        line-height: 1.5;
    }
    table {
        width: 100%;
        tr {
            text-align: center;
            border-bottom: 1px solid #ffc6d1;
        }
        th {
            padding: 7px 0;
            background: crimson;
            color: #fff;
        }
        td {
            padding: 5px 0;
        }
    }
    b {
        font-weight: 600;
        line-height: 2;
    }
    a {
        color: crimson
    }
}

.mobile {
    padding-left: 0;
    padding-right: 0;
    h2 {
        font-size: 1.5rem;
    }
    .terms-topic {
        padding: 0;
        a {
            font-size: 1rem;
            padding: 15px 5px;
            width: 40%;
            margin: 5px;
            border-radius: 16px;
        }
    }
    .terms-content {
        padding: 20px;
        h4 {
            font-size: 1rem;
            padding: 1rem;
            &:after,
            &:before {
                right: 15px;
            }
        }
    }
    .single-question {
        padding: 1rem;
    }
}