<nav><a [routerLink]="[ '../../home' ]">Home</a><a [routerLink]="[ '../','all' ]">Women</a><span>{{name}}</span>
</nav>
<div class="banner" [ngClass]="name.split(' ')[0]">
  <h2 *ngIf="name==='all'">Women's Bags</h2>
  <h2 *ngIf="name!=='all'">{{name}}</h2>
</div>
<div class="body-flex">
  <div class="side-list">
    <h4> By Categories</h4>
    <ul>
      <li *ngFor="let category of categories">
        <a [ngClass]="{'active': name===category.name}" [routerLink]="['../',category.name]">{{category.name}}</a>
      </li>
      <li> <a [ngClass]="{'active': name==='all'}" [routerLink]="['../all']"> View All</a></li>
    </ul>
    <h4> By Collections</h4>
    <ul>
      <li><a [routerLink]="['/en/products/new/all']"> New Arrivals</a></li>
      <li><a [routerLink]="['/en/products/sale/all']"> Best Sellers</a></li>
      <li> <a [routerLink]="['/en/products/collections/ZHU']">ZHU</a> </li>
      <li> <a [routerLink]="['/en/products/collections/EJ']">EJ</a> </li>
    </ul>
  </div>
  <div class="right-list">
    <app-bag-list></app-bag-list>
  </div>
</div>