nav {
    padding: 10px 1px;
    a {
        display: inline-block;
        padding: 5px 0 1px;
        margin-right: 20px;
        border-bottom: 1px solid #999;
        font-size: .75rem;
        text-transform: uppercase;
        position: relative;
        &:hover {
            color: crimson;
        }
        &::after {
            content: '/';
            position: absolute;
            right: -13px;
        }
    }
    span {
        display: inline-block;
        padding: 5px 0 2px;
        margin-right: 10px;
        font-size: .75rem;
        text-transform: uppercase;
        color: #999;
    }
}

.banner {
    width: 100%;
    height: 400px;
    text-align: center;
    position: relative;
    h2 {
        font-size: 2rem;
        position: absolute;
        top: 50%;
        left: 0;
        width: 50%;
        margin: 0;
        transform: translateY(-50%);
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
    }
    &-all {
        background: url(../../../assets/images/20181101/cradle-2.jpg) 100% 70% no-repeat;
        background-size: contain;
        background-color: #fff7f9;
    }
    &-cross {
        background: url(../../../assets/images/cross.jpg) 100% 50% no-repeat;
        background-size: contain;
        background-color: #fffaf5;
    }
    &-top {
        background: url(../../../assets/images/top.jpg) 100% 32% no-repeat;
        background-size: contain;
        background-color: #f9f9f9;
    }
    &-tote {
        background: url(../../../assets/images/tote.jpg) 100% 50% no-repeat;
        background-size: contain;
        background-color: #fffcf7;
    }
    &-clutch {
        background: url(../../../assets/images/clutch.jpg) 100% 50% no-repeat;
        background-size: contain;
        background-color: #f9f9f9;
    }
    &-bucket {
        background: url(../../../assets/images/bucket.jpg) 100% 50% no-repeat;
        background-size: contain;
        background-color: #f6f7f9;
    }
    &-backpack {
        background: url(../../../assets/images/backpack.jpg) 100% 50% no-repeat;
        background-size: contain;
        background-color: #fdfcfd;
    }
}

.body-flex {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.side-list {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    padding: 30px 20px 20px 0;
    max-width: 220px;
    height: max-content;
    transition: all .1s ease;
    h4 {
        padding: 10px 15px;
        text-transform: uppercase;
        background: rgba(218, 218, 218, 0.23);
    }
    ul {
        margin-bottom: 30px;
        li {
            border-bottom: 1px solid rgb(228, 228, 228);
            padding: 10px 15px;
            color: #999;
            font: 14px sans-serif;
        }
    }
    a:hover,
    a.active {
        color: crimson;
    }
}

.right-list {
    width: 80%;
    display: inline-block;
}